[2019-04-11 01:38] ho-dor opened #1687 "Add the long press functionality to other instruments like in Power Source"
**Actual Behaviour**

No message appears on long press in other instruments like in Power Source "Show Guide".

**Expected Behaviour**

"Show Guide message should appear on long press of "Show Guide" item.

**Steps to reproduce it**

Go to Power Source and long press "?" symbol

**LogCat for the issue**

Not applicable

**Screenshots of the issue**

Not applicable

**Would you like to work on the

[2019-04-11 05:56] neel1998 commented on #1674
@ho-dor  this feature will save the image of the graph in the device. So you can share it if you want. Unlike the csv it will be visual representation which much more comprehensive . Also this functionality has been added as a TODO list in the code as well.

[2019-04-11 05:57] neel1998 commented on #1668
@ho-dor  please close this issue

[2019-04-11 05:59] #1668 closed

[2019-04-11 06:02] ho-dor commented on #1674
@neel1998 when I think about the use that you have mentioned , I think the person who will receive this graph image will also need at what time in the experiment was the graph captured . What do you think ? Maybe a timer can be added when recording is started and hence we will receive the exact time during the experiment this was captured .

[2019-04-11 06:04] neel1998 commented on #1687
@harsh-2711  @abhinavraj23  @CloudyPadmal  why do we have this functionality. Anyways "?" is self explanatory regarding the use of that button and also single click is more prompt response than a long press. User is like to click the "?" button before long pressing, and that would anyway open the guide.This is still my point of view.

[2019-04-11 06:05] ho-dor commented on #1687
@neel1998 I agree. Either we can remove this from all instruments or add it to all . Consistency was my motive when I opened this issue.

[2019-04-11 06:06] neel1998 commented on #1674
Kindly explain the timer part again. The X-axis of the graph is anyways time(s). So we can easily understand the time that is passed since the experiment was started from the image of the graph.

[2019-04-11 06:07] neel1998 commented on #1687
@ho-dor  I understand your point. Let's wait for mentors opinion regarding this.

[2019-04-11 06:08] ho-dor commented on #1653
This is really confusing. Hamburger icon in some and back button in some instruments . What do you think @neel1998 @abhinavraj23 @CloudyPadmal ?

[2019-04-11 06:10] neel1998 commented on #1653
@ho-dor  I think @mariobehling  alrady mentioned earlier to have back button. I have made the PR adding back button. I guess after that PR is merged every instrument will have a back button.

[2019-04-11 06:11] ho-dor commented on #1674
What I am trying to say is that we can extend this functionality beyond the instruments with graph like Barometer reading for exact instant , adding a timer there and then share it might be useful.

[2019-04-11 06:14] neel1998 commented on #1674
Most of the instruments have graphs and they are the only ones which requires logging in my opinion. Only compass and Multimeter dont have graphs. We can think something about them, once this basic functionality is working

[2019-04-11 06:17] neel1998 commented on #1628
@CloudyPadmal  @mariobehling  @harsh-2711 @abhinavraj23  I think this issue is solved by #1556  and can be closed.

[2019-04-14 19:04] CloudyPadmal opened #1689 "Support OLED 128x64 Displays"
**Actual Behaviour**

Android app doesn't have an option to use OLED display

**Expected Behaviour**

Android app needs to support OLED displays. When the app opens, it needs to show an initiation screen.

**Steps to reproduce it**

**LogCat for the issue**

**Screenshots of the issue**

![oled](https://user-images.githubusercontent.com/14261304/56097651-fa030f80-5f14-11e9-9441-19ad195307d3.jpg)

[2019-04-14 19:10] neel1998 commented on #1689
@CloudyPadmal  can you please elaborate on the issue, and what is the desired output. I would relly love to contribute

[2019-04-14 19:34] CloudyPadmal opened #1690 "Playback data from SD Card"
**Actual Behaviour**

PSLab v6 has SD card feature to log recording from different instruments. These recording will be in raw values with no visualization.

**Expected Behaviour**

Android app needs to support a feature to let user play back these recorded data by importing them from SD card and display in a similar manner to logged data in current app.

**Steps to reproduce it**

**LogCat for th

[2019-04-14 19:57] ho-dor commented on #1690
@CloudyPadmal an you please explain how to go about this . I am interested .

On Mon 15 Apr, 2019, 01:04 Padmal, <notifications@github.com> wrote:

[2019-04-14 20:22] neel1998 commented on #1690
@CloudyPadmal  i am also interested to work on this. Kindly guide how to go about it.

[2019-04-14 20:24] ho-dor commented on #1689
@CloudyPadmal I am interested . Please guide how to go about it . Thanks.

On Mon 15 Apr, 2019, 00:40 Neel Trivedi, <notifications@github.com> wrote:

[2019-04-15 05:04] CloudyPadmal commented on #1689
Excellent. I'll give you more details and specifications.

[2019-04-15 16:22] Smit2010 commented on #1689
I would also like to work on this. Please guide me how get started for this.
@CloudyPadmal

[2019-04-15 16:23] Smit2010 commented on #1690
@CloudyPadmal I am keen on working on this. Please guide to get started.

[2019-04-17 15:33] neel1998 commented on #1598
@mariobehling  @CloudyPadmal  kindly share your views on how to add altitude meter. I have given two options in the previous comment.

[2019-04-19 08:27] neel1998 commented on #1650
@CloudyPadmal  @cweitat  @harsh-2711 @abhinavraj23  kindly provide suggestions for this issue. So that i can start working on it

[2019-04-19 10:18] neel1998 commented on #1689
@CloudyPadmal  any updates on this issue?

[2019-04-20 18:24] Smit2010 opened #1693 "No message displayed on changing Luxmeter or Barometer configuration"
**Actual Behaviour**
There has been limit set for configurations in Luxmeter and Barometer (In "Update period" max interval is 1000ms and In "High limit", min value is 10Lx), but the user is not informed about the limits and also when the user sets the configuration beyond the limit, no message is being displayed.

**Expected Behaviour**
Atleast user should know the limits of the configuration and

[2019-04-20 18:37] Smit2010 opened #1694 "Saved file of logged data not opening"
**Actual Behaviour**
When user tries to open the logged data from the "snackbar", Logged data Activity opens showing the logged data.

**Expected Behaviour**
When user tries to open the logged data from the "snackbar", file manager should open showing the folder where the .csv is saved instead of opening the "Logged Data" in the app.

**Steps to reproduce it**
 Record any data in Barometer or Luxm

[2019-04-20 18:48] neel1998 commented on #1694
@Smit2010 the "save" button on the snack bar is not meant to save the log. it is for saving graph. IF you check the code of "PSLabSensor" activity this menu calls saveGraph() function in corresponding fragment, which is currently empty. I have already opened an issue #1674  to  implement this and have started working on that. I think this issue can be closed. Thanks

[2019-04-20 19:13] abhinavraj23 commented on #1694
@neel1998 I think this is a completely different issue, it just states that the file is not getting opened from the app, the issue which you referred to is different than this and moreover is pending from 20 days. You can continue your work with this issue @Smit2010

[2019-04-20 19:41] neel1998 commented on #1694
@abhinavraj23  sorry for the confusion. But since the button that this issue refers to calls the **save graph function** i was confused. Which still I am. **What should the save button exactly do?**. And regarding the pending issue, I was solving other issues and was a bit busy with my ends. Will make a PR as soon as possible. (Also my intention from previous comment was certainly not to restrict

[2019-04-20 20:02] abhinavraj23 commented on #1694
@neel1998 I thought this issue is regarding opening the file manager through the app, but I guess there are some other issues as well, so the best thing to do in these kinds of cases is to communicate with among the developers, that is the reason we have IRC channels where you guys can talk and discuss related to the app, if you want you can also directly talk with each other privately as well in

[2019-04-28 10:48] #1585 closed

[2019-04-29 10:21] #1620 closed

[2019-04-29 10:22] #1633 closed

[2019-04-29 10:23] #1610 closed

[2019-04-29 10:28] #1078 closed

[2019-04-29 10:30] #1542 closed

[2019-04-29 10:31] #1527 closed

[2019-04-29 10:33] #1528 closed

[2019-04-29 10:35] vincentmakes commented on #1542
Is it closed because it is solved ?

[2019-04-29 10:36] #999 closed

[2019-05-02 06:12] #1526 closed

[2019-05-03 12:09] cweitat commented on #1542
No other reports of it crashing and can't reproduce. Do try with other phones and if it still happens please reopen this issue.

[2019-05-03 12:09] #1675 closed

[2019-05-03 12:10] #1657 closed

[2019-05-03 13:04] vincentmakes commented on #1542
Other reviews on the Google Playstore are stating similar issue so that's disappointing you are ignoring it. I don't have any other Android hardware. How can I get a refund ? Thanks

[2019-05-04 12:18] #1664 closed

[2019-05-04 12:20] ho-dor commented on #1606
@neel1998 what is the status of this ? I think it can be closed as @harsh-2711 mentioned.

[2019-05-04 13:48] CloudyPadmal opened #1697 "Release v2.0.11"

[2019-05-04 13:56] #1697 closed

[2019-05-04 18:07] #1606 closed

[2019-05-08 10:29] cweitat commented on #1542
I saw that there was an update of the app version in the store. please try that out.

[2019-05-10 02:26] #1674 closed

[2019-05-10 11:26] #1693 closed

[2019-05-10 13:04] adityastic opened #1702 "Removing Unused Files"
**Actual Behaviour**
Removing Unused Styles, Strings, Drawables, etc

**Would you like to work on the issue?**
YEP

[2019-05-10 13:05] adityastic commented on #1702
@CloudyPadmal there are over 30+ files that are not being used and are just sitting inside the application using space

[2019-05-10 15:56] neel1998 commented on #1694
@Smit2010  are you still working on this?. If not I would like to take it up

[2019-05-10 17:32] CloudyPadmal commented on #1694
I think this is an invalid issue. When user opens the log, with the current implementation it opens a list of all logged data specific to that instrument. I don't think seeing a bunch of raw values (lot of numbers) would make any sense. But with the current view it's showing, user can play back the data visually and see location details as well. So I'm closing this issue.

[2019-05-10 17:32] #1694 closed

[2019-05-10 17:37] neel1998 commented on #1694
@CloudyPadmal  I think there is some misunderstanding. This issue states that, when user clicks on "save graph" button while seeing a recorded log, the "open" button on the snackbar takes user to the logged data activity, instead it should take user to local file storage where the log is stored. So if user want to take some actions with that log file (like sharing it), user can easily do that

[2019-05-11 09:09] neel1998 commented on #1694
@CloudyPadmal  any update on this issue. I think it is a valid one

[2019-05-11 09:21] neel1998 commented on #1650
@CloudyPadmal  @abhinavraj23  kindly provide some guidance for this issue so that i can start working on it. This might take time

[2019-05-11 09:23] neel1998 commented on #1598
@CloudyPadmal  @abhinavraj23  please share some suggestion for this feature. Should it be included in barometer itself or there should be separate activity like other sensors.

[2019-05-11 09:25] neel1998 commented on #1415
@CloudyPadmal  can you please elaborate on this issue and guide me how to go about it

[2019-05-11 14:02] CloudyPadmal commented on #1415
Hi, first go through the source code related to FFT in PSLab python repo and Android repos. If you're not familiar with Fourier Transform, I suggest you do some research on what it is and how to calculate FFT from a signal. It'll be helpful. Once all that is done, we have to implement Fourier Transform in Oscilloscope instrument.

[2019-05-11 14:04] CloudyPadmal commented on #1650
What kind of guidance you need?

[2019-05-11 14:06] #1690 closed

[2019-05-11 14:08] #1645 closed

[2019-05-11 14:10] CloudyPadmal commented on #1694
I'm not sure if it's a valid one. Leave it for now.

[2019-05-11 14:14] #1634 closed

[2019-05-11 14:19] #1602 closed

[2019-05-11 14:23] #1465 closed

[2019-05-11 14:30] #1687 closed

[2019-05-11 17:32] ho-dor opened #1704 "Accelerometer Configuration Not consistent with other built-in sensor instruments"
**Actual Behaviour**

The accelerometer configuration is like multimeter right now

**Expected Behaviour**

The accelerometer configurations should be like Lux and Barometer.

**Steps to reproduce it**

Open accelerometer configurations from accelerometer menu

**LogCat for the issue**

Not Applicable

**Screenshots of the issue**

![Screenshot_20190511-225918_PSLab](https://user-images.githubuser

[2019-05-11 19:15] #1571 closed

[2019-05-11 20:59] neel1998 opened #1705 "Implement save graph function for accelerometer"
**Actual Behaviour**
Currently save graph function is not implemented for accelerometer

**Expected Behaviour**
Simpleng the save graph function like barometer and lux meter

**Would you like to work on the issue?**
Yes

[2019-05-11 21:01] neel1998 opened #1706 "Implement import log from SD card functionality for accelerometer"
**Actual Behaviour**
Currently user can't add log for accelerometer from SD card

**Expected Behaviour**
Implement this functionality similar to barometer and lux meter

**Would you like to work on the issue?**
Yes

[2019-05-12 02:35] CloudyPadmal commented on #1706
May be we can implement a prototype in PSLabSensor class so that it will be available everywhere?

[2019-05-12 02:35] CloudyPadmal commented on #1705
May be we can implement a prototype in PSLabSensor class so that it will be available everywhere?

[2019-05-12 04:50] neel1998 commented on #1706
This function needs to ne implemented in DataloggerActivity. So having a prototype in PSLabSensor won't help. Correct me if I am wrong.

[2019-05-12 04:51] neel1998 commented on #1705
I will check if that can be done.

[2019-05-12 11:11] Smit2010 opened #1707 "Bug: App crashes when back is pressed with no file is selected in import log menu"
**Actual Behaviour**
App crashes when back button(No file is selected) is pressed after selecting import log from logged data menu.
**Expected Behaviour**
App should return to the logged data activity instead of crashing.
**Steps to reproduce it**
Open app -> Logged data from navigation menu -> Import Log from top right menu -> select any one option -> without selecting any file from the opened in

[2019-05-12 15:59] neel1998 commented on #1705
@CloudyPadmal in my opinion adding a prototype function in PSLabSensor for saveGraph() function would make the implementation a bit complex. Because all the instruments have different CSV formats. also to save the graph as .jpg we need to access linear layout of each instrument, doing all these through a common function would require to add many getters in the respective instrument activities. Kin

[2019-05-12 16:01] #1632 closed

[2019-05-12 16:03] CloudyPadmal commented on #1705
Ok, let's dig deep and see in the coming days. For now you can continue with this issue.

[2019-05-12 19:36] neel1998 opened #1709 "Implement saveGraph and import log function for Compass"
**Actual Behaviour**
Currently there is no saveGraph function and import log from storage functionality for compass

**Expected Behaviour**
Implement this functionalities similar to baro and lux meter

**Would you like to work on the issue?**
yes

[2019-05-13 09:26] #1622 closed

[2019-05-13 09:37] #1636 closed

[2019-05-13 09:38] #1702 closed

[2019-05-13 09:39] #1707 closed

[2019-05-13 09:53] neel1998 opened #1710 "Update README"
**Actual Behaviour**
Current readme doesn't have images and instructions for newly added instruments like accelerometer, compass and gyroscope

**Expected Behaviour**
Update readme with required information

**Would you like to work on the issue?**
Yes

[2019-05-13 15:41] neel1998 opened #1712 "Implement saveGraph and import Log function for gyroscope"
**Actual Behaviour**
There is currently no functionality of save graph and import log for gyroscope

**Expected Behaviour**
Implement these functionalities similar to barometer and lux meter.

**Would you like to work on the issue?**
yes

[2019-05-14 14:48] neel1998 opened #1714 "Change format in which log is stored in CSV for accelerometer"
**Actual Behaviour**
Currently the accelerometer log data is stored in a way which doesn't clarify the axis along which the data has been recorded. This makes it impossible to implement import log from storage functionality for accelerometer since no axis data is provided

**Expected Behaviour**
Change the cab format to store data for all three axis for a given time instance as done in gyroscope a

[2019-05-14 15:18] Smit2010 opened #1715 "Bug: App crashes on opening Accelerometer or Compass instruments"
**Actual Behaviour**
App crashes on opening Accelerometer or Compass instruments.

**Expected Behaviour**
App should not crash while opening these instruments.

**Steps to reproduce it**
Open app -> click on Accelerometer or Compass in Instruments

**Reason for crash**
     Caused by: java.lang.IllegalStateException: Required view 'continuous' with ID 2131296467 for field 'compass' was not found.

[2019-05-14 15:21] adityastic commented on #1715
Did you try to clean and rebuild the application?

[2019-05-14 15:22] adityastic commented on #1715
Please provide the logs for crash

[2019-05-14 15:36] Smit2010 opened #1716 "Improvement: Gyroscope instrument is inconsistent"
**Actual Behaviour**
Major functionalities are working fine but user guide, configurations and logged data is inconsistent.

**Expected Behaviour**
Alignment in configuration should be consistent with luxmeter and barometer, clicking map option in logged data should work, adding text in user guide and setting appropriate message and limit in Update time and High limit in configurations.

**Steps t

[2019-05-14 15:48] neel1998 commented on #1716
@Smit2010  let me know if you find any trouble going through the implementation of gyroscope :)

[2019-05-14 15:50] #1715 closed

[2019-05-14 15:50] Smit2010 commented on #1716
Yeah sure. @neel1998

[2019-05-15 04:34] #1662 closed

[2019-05-15 12:38] #1714 closed

[2019-05-15 12:43] CloudyPadmal opened #1719 "Servo motor control option"
**Actual Behaviour**

PSLab device can be used to control a robot arm set with 4 servo motors. Currently it is done by writing a Python script and there is no option in PSLab Android app to do so. This feature is requested by Marco

**Expected Behaviour**

Implement a tool giving an option to control servo motors using Android app.

**Steps to reproduce it**

**LogCat for the issue**

**Screenshot

[2019-05-15 16:35] neel1998 commented on #1719
@CloudyPadmal  i have worked with servo motors earlier. Kindly elaborate a little bit further on this so that I can start working on this

[2019-05-15 16:39] adityastic commented on #1719
It was my minor to control servo's using android, haha what a coincidence. @neel1998 good luck

[2019-05-15 17:01] CloudyPadmal commented on #1719
We have a robot arm that moves with 4 servo motors. They are controlled with a code similar to
[code]

Idea is to make it more user friendly and give user the ability to change these `30` values to different values so the arm will move differently. You get the idea. It'll be just calling a function but have to make it catchy

[2019-05-15 17:05] adityastic commented on #1719
@CloudyPadmal that would be great

[2019-05-15 17:07] neel1998 commented on #1719
@CloudyPadmal  that's great

[2019-05-15 17:07] adityastic commented on #1719
@CloudyPadmal can you show us the real look of the robotic arm, I would love to create something exactly like it inside the app

[2019-05-15 17:09] CloudyPadmal commented on #1719
This would be hard. Something like ![this](https://img.staticbg.com/thumb/large/oaupload/banggood/images/84/5E/a9559f3e-cdd7-403f-96a8-18d91a819306.jpg)

[2019-05-15 17:10] neel1998 commented on #1719
@adityastic  instead of creating a arm like layout in the app , i was thinking of having a co troller for each four motor, which would make user able to move the servo as interested. It would look more neat

[2019-05-15 17:10] CloudyPadmal commented on #1719
Just some sliders would be good without a complicated UI

[2019-05-15 17:10] neel1998 commented on #1719
@CloudyPadmal  i agree with you

[2019-05-15 17:11] adityastic commented on #1719
@CloudyPadmal got it

[2019-05-15 17:12] adityastic commented on #1719
What about 4 dials? that would be neat for an initial interface

[2019-05-15 17:14] neel1998 commented on #1719
@adityastic  i was also thinking something like that. Let's both create some mock ups and then decide which layout to opt

[2019-05-15 17:15] adityastic commented on #1719
Sounds Great, Lets talk about it on the public channel on gitter

[2019-05-15 17:19] ho-dor opened #1721 "Gyroscope UI not consistent when sensor not present in device"
**Actual Behaviour**

The cardview for z-axis is bigger and disproportionate. Also , the value fields are empty.

**Expected Behaviour**

The x,y and z-axis cardviews should have equal weight . The value field should show 0.00 as indicated in the graph.

**Steps to reproduce it**

Open gyroscope with a device not containing the sensor.

**LogCat for the issue**

Not Applicable

**Screenshots of th

[2019-05-15 17:22] ho-dor opened #1722 "Gyroscope Guide not showing correct Information"
**Actual Behaviour**

The gyro guide doesn't show correct text below the image.

**Expected Behaviour**

The guide should show directions to use the instrument in guide.

**Steps to reproduce it**

Open Gyroscope guide.

**LogCat for the issue**

Not Applicable

**Screenshots of the issue**

![gyro_guide](https://user-images.githubusercontent.com/37077735/57795512-cc072a00-7763-11e9-8410-4aaf3333e

[2019-05-15 17:25] ho-dor opened #1723 "Logged Data not showing graph in Gyroscope when sensor absent"
**Actual Behaviour**

When logged data is opened , it does not show the graph in devices with sensor absent.

**Expected Behaviour**

The graph should show either zero like when recorded or disable recording when sensor not present.

**Steps to reproduce it**

Open gyroscope with device not having the sensor and record some data and open it.

**LogCat for the issue**

Not Applicable

**Screenshots

[2019-05-15 17:26] ho-dor commented on #1723
@CloudyPadmal  should we disable recording when sensor not present or add the graph ?

[2019-05-15 18:07] neel1998 commented on #1722
I think #1718  fixes this. @Smit2010 check once

[2019-05-15 18:21] ho-dor commented on #1722
@neel1998 I will close this as it is solved in #1718 .

[2019-05-15 18:21] #1722 closed

[2019-05-15 18:50] neel1998 commented on #1723
@ho-dor kindly change the title of the issue to include that this issue occurs only when sensor is not present.

[2019-05-15 19:05] ho-dor commented on #1642
Closing this as this has been merged

[2019-05-15 19:05] #1642 closed

[2019-05-16 05:22] #1710 closed

[2019-05-16 17:36] neel1998 commented on #1719
@CloudyPadmal  i have made 2 mock ups for this functionality. Kindly share your views so that i can start working on it.
<img src = "https://user-images.githubusercontent.com/32041242/57874833-16091200-782f-11e9-84c9-3df93976d72d.png" width = "300"/>

<img src = "https://user-images.githubusercontent.com/32041242/57874835-16091200-782f-11e9-8c52-f0dfc7d620ae.png" width = "300" />

[2019-05-17 00:02] #1716 closed

[2019-05-17 00:03] CloudyPadmal commented on #1719
First one looks more comfortable to slide :thinking:

[2019-05-17 00:19] CloudyPadmal opened #1727 "Release PSLab v2.0.12"

[2019-05-17 00:36] CloudyPadmal opened #1728 "Outofmemory crash in PSLabPinLayoutFragment"
**Actual Behaviour**

Google Play crash reports indicate that there is a crash happening when a user tries pinmap multiple times. Probably some caches not getting clear.

**Expected Behaviour**

App should not crash and memory needs to be utilized

**Steps to reproduce it**

[Download and view steps recorded from Google Play tests](https://github.com/fossasia/pslab-android/files/3189457/OutOfMemor

[2019-05-17 01:19] CloudyPadmal opened #1731 "Update readme with min SDK and images"
**Actual Behaviour**

App min SDK version is now 21 and new instruments added with updated UI

**Expected Behaviour**

Update the section in readme where min Android version is mentioned and update the screenshots with updated ones.

**Steps to reproduce it**

Check readme

**LogCat for the issue**

**Screenshots of the issue**

**Would you like to work on the issue?**

_Beginner issue_

[2019-05-17 03:28] neel1998 commented on #1728
I will look into it

[2019-05-17 06:12] CloudyPadmal commented on #1727
App released

[2019-05-17 06:12] #1727 closed

[2019-05-17 07:14] mariobehling commented on #1719
As the numbers symbolize degrees in a circle, please also use a circle for the UI. Ensure that the degrees e.g. 90° have the correct position in the circle.

[2019-05-17 07:15] mariobehling commented on #1719
Furthermore give the option that uses can enter values as numbers if they click/tap on the number area.

[2019-05-17 08:03] neel1998 commented on #1719
@mariobehling I will start working on it as per your suggestion

[2019-05-17 10:33] #1704 closed

[2019-05-17 10:33] #1706 closed

[2019-05-17 10:39] adityastic commented on #1719
@neel1998 looks goood

[2019-05-19 05:57] mariobehling opened #1734 "Implement a 60 second timeline for four servos similar to a video editor"
Servos should be able to run after each other at a certain time. Please implement a timeline as follows on the bottom of the screen as follows:

* With 4 rows similar to a video editor.
* The length of the timeline should be 60 seconds
* Users should be able to put in a number in a servo and then drag and drop the servo by tapping on the servo and dragging it into the timeline (similar to how you

[2019-05-19 06:01] neel1998 commented on #1734
@mariobehling  this seems an excellent feature. I will start working on it.

[2019-05-20 17:18] #1721 closed

[2019-05-20 19:02] ho-dor opened #1735 "Adding the Instagram follow option in about us like in Neurolab App"
**Actual Behaviour**

RIght now there is no option to follow on instagram.

**Expected Behaviour**

An option to follow on instagram like present in neurolab app.

**Steps to reproduce it**

Open about us.

**LogCat for the issue**

N/A

**Screenshots of the issue**

N/A

**Would you like to work on the issue?**

It is a beginner's issue . If no one takes it up in a few days . I will do it.

[2019-05-20 19:02] ho-dor commented on #1735
@CloudyPadmal can you please add the beginner's tag to this

[2019-05-22 09:53] #1705 closed

[2019-05-22 11:05] ho-dor commented on #1629
@CloudyPadmal can you take a look at SHT21 sensor already used in the app , can I use that in place of LM35 ?

[2019-05-22 11:14] CloudyPadmal commented on #1629
Yea that would be ok. But we can let user choose which sensor to use and give an option to switch between sensors. You can start with anything you like.

[2019-05-22 11:18] neel1998 commented on #1629
@ho-dor  Are you planning on adding a new instrument activity or making changes in the sensors activity?

[2019-05-22 11:21] ho-dor commented on #1629
@neel1998 for now , a new instrument activity.

[2019-05-22 11:25] neel1998 commented on #1629
@ho-dor  I think it would be better to have it in sensors activity. Because i still think most of the mobiles don't have external temperature sensor. And those wit the PSLab board can use the sensor from the sensor activity. @CloudyPadmal  kindly share your opinion. I think we should have separate instrument activities for those sensors which are more likely to be present in more android devices

[2019-05-22 11:34] ho-dor commented on #1629
@neel1998 but we are going to give option to the user to choose the inbuilt device sensor or through the PSLab device .

[2019-05-22 11:45] neel1998 commented on #1629
@ho-dor  alright :). Let me know if you need any help

[2019-05-22 18:07] ho-dor opened #1736 "App crashes when save image button clicked in all instruments where sensor not present"
**Actual Behaviour**

App crashes when save image button clicked in Compass logged data

**Expected Behaviour**

App should not crash

**Steps to reproduce it**

Record data in compass and play it , click on save image button on top right corner.

**LogCat for the issue**

java.lang.ArrayIndexOutOfBoundsException: Out of range  in /Users/cm/Realm/realm-java/realm/realm-library/src/main/cpp/io_real

[2019-05-23 16:03] #1635 closed

[2019-05-23 16:03] #1644 closed

[2019-05-23 16:04] #1709 closed

[2019-05-23 16:04] #1712 closed

[2019-05-23 16:05] #1653 closed

[2019-05-23 16:05] #1659 closed

[2019-05-24 07:43] #1719 closed

[2019-05-25 06:53] neel1998 opened #1739 "Option to use OSM or Google Map"
**Actual Behaviour**
Currently we are only using OSM to plot locations. However Google maps is not open source so FDroid does not allow to release

**Expected Behaviour**
Add option for OSM or Google Map on Play Store app and just OSM in FDroid.

**Steps to reproduce it**
N/A

**Would you like to work on the issue?**
Yes

[2019-05-25 17:24] ho-dor opened #1741 "Accelerometer Logged data having incorrect UI"
**Actual Behaviour**

The logged data of accelerometer is showing UI of lux meter

**Expected Behaviour**

Accelerometer should show UI of accelerometer

**Steps to reproduce it**

Record data in acelerometer and open logged data.

**LogCat for the issue**

N/A

**Screenshots of the issue**

![Screenshot_20190525-225256_PSLab](https://user-images.githubusercontent.com/37077735/58372748-ed280180-7f

[2019-05-27 05:36] neel1998 opened #1742 "Add Appropriate logo for Robotic Arm Controller Instrument"
**Actual Behaviour**

currently Robotic Arm controller has a temporary logo (of gyroscope)

**Expected Behaviour**
Make and add a separate logo for Robotic Arm controller

**Would you like to work on the issue?**

Anyone can take this up.

[2019-05-27 05:37] neel1998 opened #1743 "Add servo controller functionality to Robotic Arm Controller UI"
**Actual Behaviour**
Currently the base UI is ready for Robotic Arm Controller , but there is no functionality to send commands to PSLab bard to control servos

**Expected Behaviour**
Add necessary functionality

**Would you like to work on the issue?**
Yes

[2019-05-27 06:13] #1734 closed

[2019-05-27 12:46] neel1998 opened #1747 "Add time indication to timeline of robotic arm controller"
**Actual Behaviour**
Currently there is no indication of time in the time line of servo controller

**Expected Behaviour**
Add time indicator.

**Would you like to work on the issue?**
Yes.

[2019-05-27 17:26] neel1998 opened #1749 "Add current position indicator to servo controller time line and functionality of play/pause/stop buttons"
**Actual Behaviour**
Currently there is no indicator of current position in timeline of servo controller . Also functionality of Play/Pause/Stop buttons needs to be implemented

**Expected Behaviour**
Add a vertical bar which moves one second forward when play button is pressed.

**Would you like to work on the issue?**
Yes

[2019-05-27 19:15] ho-dor opened #1750 "Adding the working of thermometer"
**Actual Behaviour**

Only UI created so far.

**Expected Behaviour**

Adding the backend implementation of thermometer.

**Steps to reproduce it**

N/A

**LogCat for the issue**

N/A

**Screenshots of the issue**

N/A

**Would you like to work on the issue?**

Yes

[2019-05-27 19:26] cweitat opened #1751 "UI orientation of robotic control"
1. UI Issue: Currently seeing this in the app. Able move the play pause controls beside the circular controls and extend the graph to eliminate gray space?
2. Currently the servor moves in one direction only. Expected: Also, the instrument only functions in one direction. It should rotate accordingly in the landscape mode instead of fixing it to just one orientation. Please provide the option to s

[2019-05-27 19:44] #1741 closed

[2019-05-28 07:16] #1629 closed

[2019-05-28 07:17] #1747 closed

[2019-05-28 07:30] mariobehling commented on #1735
Not right app and IG following is not important currently for us.

[2019-05-28 07:30] #1735 closed

[2019-05-28 13:01] neel1998 opened #1752 "App crashed on Opening Thermometer"
**Actual Behaviour**

App crashes on opening thermometer

**Expected Behaviour**
App should not crash

**Steps to reproduce it**
Open Thermometer

**LogCat for the issue**
2019-05-28 18:23:22.508 31731-31731/io.pslab E/AndroidRuntime: FATAL EXCEPTION: main
    Process: io.pslab, PID: 31731
    java.lang.RuntimeException: Unable to start activity ComponentInfo{io.pslab/io.pslab.activity.Thermometer

[2019-05-30 07:06] ho-dor opened #1756 "Adding the settings menu for thermometer"
**Actual Behaviour**

No settings for thermometer yet.

**Expected Behaviour**

Settings menu should be there for thermometer where -
1. User can choose unit
2. User can choose which sensor to use.

**Steps to reproduce it**
N/A

**LogCat for the issue**

N/A

**Screenshots of the issue**

N/A

**Would you like to work on the issue?**

Yes

[2019-05-30 12:37] neel1998 opened #1757 "Oscilloscope gives weird output on displaying 2 channels simultaneously"
**Actual Behaviour**
The graph gets distorted on enabling 2 channels in oscilloscope

**Expected Behaviour**
There should be desired plot for both the channels

**Steps to reproduce it**
Generate 2 waves in wave generator and view them in oscillator simultaneously

**Screenshots of the issue**
![Screenshot_20190530-175707](https://user-images.githubusercontent.com/32041242/58633321-b702cd00-8305-1

[2019-05-30 13:53] #1731 closed

[2019-05-30 13:53] #1750 closed

[2019-05-30 14:27] ho-dor commented on #1752
Solved in #1754 . @neel1998 close this.

[2019-05-31 04:57] #1752 closed

[2019-05-31 07:23] neel1998 opened #1759 "App crashes on clicking export data option of multimeter"
**Actual Behaviour**
App crashes on clicking export data option of multimeter

**Expected Behaviour**
App should not crash and a log file should be created

**Steps to reproduce it**
1. Record data in multimeter
2. Pause and select export data option

**LogCat for the issue**
2019-05-31 12:45:57.070 23742-23742/io.pslab E/AndroidRuntime: FATAL EXCEPTION: main
    Process: io.pslab, PID: 23742

[2019-05-31 07:26] neel1998 commented on #1759
@CloudyPadmal  why do we have a pause button? Shouldn't it be made like other devices, where we have a stop button and clicking on it creates a csv file of logged data?

[2019-05-31 10:21] CloudyPadmal commented on #1759
@neel1998 yes, it should be a stop button

[2019-05-31 11:34] neel1998 commented on #1759
@CloudyPadmal  i am thinking of inheriting multimeter from PSLab sensor class to avoid redundancy . Does it sound right?

[2019-05-31 12:38] CloudyPadmal commented on #1759
That would be hard. As PSLab Sensor class got graphs and all which doesn't come with Multimeter. We can stick with the existing activity for Multimeter.

[2019-05-31 12:43] neel1998 commented on #1759
@CloudyPadmal  but if we want to show log data of multimeter in log data activity and playback that data.. That would become complex using current class, since realm data storing and playing back is already there in PSLab sensor , i think we can use it. This is what i think. Please give your suggestion

[2019-05-31 13:14] neel1998 commented on #1759
@CloudyPadmal  to resolve the #1373 I was thinking of recording data at certain time interval (say 500 ms) when record button is pressed. We will record the data of the element to which the multimeter knob is pointing .Does this sound okay ?

[2019-05-31 13:15] neel1998 commented on #1759
Also should i remove the show logged data option from multimeter menu since we are not displaying multimeter logs in datalogger activity

[2019-05-31 16:07] CloudyPadmal commented on #1759
If that's the case, best thing is to make a super class with all the graph and data storing functionalities and have `PSLabSensor` class inherit that.

[2019-05-31 16:08] CloudyPadmal commented on #1759
Let's give user the option to set recording interval from configurations

[2019-05-31 16:09] neel1998 commented on #1759
Do we actually need to show multimeter logs in data logger activity. I don't see any use of replaying multimeter data

[2019-05-31 16:09] neel1998 commented on #1759
Should i open another issue regarding this or work with the already open one with continuous logging?

[2019-05-31 16:12] CloudyPadmal commented on #1759
@neel1998 , let's see. May be we can plot the values in a graph in a timely manner? :thinking: That way we can replay.

[2019-05-31 16:13] neel1998 commented on #1759
Please explain this a bit, because i think we can do this for all the instruments that inherit `PSLabSensor`

[2019-05-31 16:14] neel1998 commented on #1759
Yes that can be done and would look good. But for that we need to store logs in realm and that would be easier if we had a parent class with all the methods

[2019-05-31 16:20] neel1998 commented on #1759
What should be the range for the interval?

[2019-05-31 16:22] neel1998 opened #1762 "Allow user to set time interval to continuously log data in multimeter"
**Actual Behaviour**
Currently user has to press READ button continuously to record the log

**Expected Behaviour**
Once user set a time interval. After the record is pressed data will automatically logged for the entity to which the knob is pointing so the user doesn't have to continuously press READ button

**Would you like to work on the issue?**
Yes

[2019-05-31 16:50] neel1998 opened #1763 "Add feature to preview the wave to be generated from the wave generator"
**Actual Behaviour**
Currently user cant visually see the wave that will be generated unless it is opened in oscilloscope

**Expected Behaviour**
Give user an option to preview the wave in wave generator itself

**Would you like to work on the issue?**
Yes.

[2019-05-31 18:31] CloudyPadmal commented on #1759
Multimeter extends GraphRealmClass
PSLabSensor extends GraphRealmClass
LuxSensor extends PSLabSensor

Makes sense? Java.

[2019-05-31 18:33] neel1998 commented on #1759
@CloudyPadmal yes I will try implementing the GraphRealmClass. But I think I will fix #1762 with current structure and then raise a new issue to add new parent class. Will it be okay?

[2019-06-01 06:43] mariobehling commented on #1728
App upgraded. Issue not there anymore.

[2019-06-01 06:43] #1728 closed

[2019-06-01 07:14] neel1998 opened #1765 "Add feature to save configurations of waves in wave generator"
**Actual Behaviour**
Currently there is no feature to save wave configuration in wave generator

**Expected Behaviour**
There should be an option to save wave configuration so that user can use that wave once again

**Would you like to work on the issue?**
Yes

[2019-06-01 07:18] neel1998 opened #1766 "Add feature to save timeline in Robotic Arm controller"
**Actual Behaviour**
Currently user has to set time line every time

**Expected Behaviour**
User should be able to save current time line and import it later

**Would you like to work on the issue?**
Yes

[2019-06-01 09:11] #1759 closed

[2019-06-01 09:11] #1756 closed

[2019-06-01 11:43] #1749 closed

[2019-06-01 17:07] ho-dor opened #1768 "Update the indicator at the top of timeline every second in Robotic Arm"
**Actual Behaviour**

The indicator is static right now.

**Expected Behaviour**

The indicator should get updated every second.

**Steps to reproduce it**

Open Robotic arm
**LogCat for the issue**

N/A

**Screenshots of the issue**

N/A

**Would you like to work on the issue?**

Yes.

[2019-06-03 05:22] #1768 closed

[2019-06-03 10:40] ho-dor commented on #1766
@neel1998 you working on this ?

[2019-06-03 10:42] neel1998 commented on #1766
@ho-dor yes I have all the last few issues in my to-do list for this week.

[2019-06-03 10:44] ho-dor commented on #1598
@neel1998 what about this ?

[2019-06-03 10:54] neel1998 commented on #1739
@ho-dor  is working on this

[2019-06-03 10:55] ho-dor opened #1770 "Adding svg logos for gyroscope, thermometer and robotic arm"
**Actual Behaviour**

Currently logos of other instruments are used as a placeholder

**Expected Behaviour**

Unique logos for each instrument should be there.

**Steps to reproduce it**

Open the app

**LogCat for the issue**

N/A

**Screenshots of the issue**

N/A

**Would you like to work on the issue?**

Yes

[2019-06-03 12:48] #1762 closed

[2019-06-03 18:16] neel1998 opened #1772 "Add feature to import saved timeline in robotic arm controller"
**Actual Behaviour**
Currently user can not import saved time line

**Expected Behaviour**
User should be able to import time line and play it again

**Would you like to work on the issue?**
Yes

[2019-06-04 08:52] #1766 closed

[2019-06-04 14:30] neel1998 commented on #1772
@CloudyPadmal to add feature of importing a saved time line to robotic arm i have few options:
1.add an option in the robotic arm activity itself which will allow user to select file from local storage.

2. Add new menu in side nav for saved configuration which will have saved configuration of both robotic arm and wave generator

3. Add logging for robotic arm same as barometer and others. So we c

[2019-06-06 06:30] #1772 closed

[2019-06-07 10:01] mariobehling commented on #1532
Thank you. We will take this into account in further development.

[2019-06-07 10:01] #1532 closed

[2019-06-08 03:22] CloudyPadmal opened #1779 "Thermometer crash reported in Google Play Store"
**Actual Behaviour**

Google Play Device testing has reported an issue in Thermometer crashing when selecting SHT sensor in thermometer

**Expected Behaviour**

No crashes

**Steps to reproduce it**

1. Open app
2. Go to Thermometer
3. Open configurations
4. Set sensor to SHT21 sensor

**LogCat for the issue**
[code]

**Screenshots of the issue**

**Would you like to work on the issue?**

GSoC iss

[2019-06-08 05:53] #1779 closed

[2019-06-08 05:54] #1736 closed

[2019-06-09 09:16] #1765 closed

[2019-06-09 19:22] ho-dor commented on #1628
@mariobehling this can be solved . It is resolved by #1556

[2019-06-10 02:04] CloudyPadmal commented on #1628
This is fixed in #1556

[2019-06-10 02:04] #1628 closed

[2019-06-10 04:12] #1770 closed

[2019-06-10 07:03] mariobehling opened #1782 "Require Android 6.0 as minimum for ap"
The app requires Android 5.0 on the app store. Supporting old phones takes a lot of work and could cause additional errors. We don't have this kind of resources. Set minimum app requirements to Android 6, please.

[2019-06-10 07:08] mariobehling opened #1783 "Robotic Arm: App Constantly Crashes when Hitting Saving Button"
Trying to save using the saving button results in app crash on Xiaomi Redmi Android 7.1.2

[2019-06-10 07:09] mariobehling opened #1784 "Robotic Arm: Cursor always blinking"
There is a constantly blinking cursor in the number area of the degrees. Please only activate the cursor if the user activate the area. If the use clicks outside of the area the cursor should disappear and the area should be no longer highlighted.

[2019-06-10 08:41] ho-dor commented on #1723
@CloudyPadmal @neel1998 what are your thoughts on this ?

[2019-06-10 09:03] ho-dor commented on #1387
@CloudyPadmal @neel1998 we can achieve this using the MediaRecorder API in android ?

[2019-06-10 14:15] CloudyPadmal commented on #1387
@ho-dor do you like to work on it?

[2019-06-10 14:33] CloudyPadmal commented on #1723
@ho-dor , disable the graph and give some visual output to user about the situation

[2019-06-10 14:54] ho-dor commented on #1387
yes

[2019-06-10 14:55] neel1998 commented on #1387
@ho-dor  do you have the board?

[2019-06-10 14:56] ho-dor commented on #1387
Why is the board needed for this ?

[2019-06-10 14:58] neel1998 commented on #1387
What exactly are we suppose to do after we get the audio input?

[2019-06-10 15:02] ho-dor commented on #1387
From what I understand , I think audio waves on the oscilloscope chart

[2019-06-10 15:03] neel1998 commented on #1387
Okay

[2019-06-11 07:10] #1723 closed

[2019-06-11 08:56] #1782 closed

[2019-06-11 18:41] neel1998 opened #1789 "Add feature to import and play back saved wave configurations"
**Actual Behaviour**
Currently no feature to see or retrieve saved wave configs

**Expected Behaviour**
User should be able to playback saved configs like other instruments

**Would you like to work on the issue?**
Yes

[2019-06-13 02:28] CloudyPadmal opened #1792 "Update libraries and remove duplicates"
**Actual Behaviour**

There are few libraries that needs to be updated and some are included twice

**Expected Behaviour**

Clean up the gradle file

**Steps to reproduce it**

Observe the build.gradle file

**LogCat for the issue**

**Screenshots of the issue**

**Would you like to work on the issue?**

Yes

[2019-06-13 02:45] CloudyPadmal opened #1794 "Robotic arm doesn't validate values"
**Actual Behaviour**

In robotic arm, we can enter numbers bigger than 360

**Expected Behaviour**

Since it's degrees, have to limit within 0-360

**Steps to reproduce it**

Try entering numbers bigger than 360 in text boxes

**LogCat for the issue**

**Screenshots of the issue**
<img src="https://user-images.githubusercontent.com/14261304/59399911-4f438c00-8db3-11e9-8a9c-622540137460.png" height

[2019-06-13 12:15] #1792 closed

[2019-06-13 16:05] #1742 closed

[2019-06-14 15:11] #1783 closed

[2019-06-15 03:43] #1415 closed

[2019-06-15 05:41] neel1998 opened #1798 "Implement FFT for all channels and multiple channels simultaneously in oscilloscope"
**Actual Behaviour**
Currently fft is implemented only for channel 1

**Expected Behaviour**
Implement fft for rest of the channels and also implement the functionality to view out put of fft simultaneously

**Would you like to work on the issue?**
Yes

[2019-06-15 05:42] neel1998 commented on #1373
@CloudyPadmal  i think this can be closed now

[2019-06-15 06:28] CloudyPadmal commented on #1373
Fixed in #1767

[2019-06-15 06:28] #1373 closed

[2019-06-15 13:24] neel1998 commented on #1784
@ho-dor  can you take up this issue?

[2019-06-15 13:25] neel1998 commented on #1751
@ho-dor  take a look at this issue

[2019-06-15 15:20] ho-dor commented on #1784
@neel1998 sure.

[2019-06-16 05:55] #1794 closed

[2019-06-16 08:08] #1743 closed

[2019-06-16 15:29] #1789 closed

[2019-06-16 18:16] #1757 closed

[2019-06-17 02:32] #1798 closed

[2019-06-17 05:26] neel1998 commented on #1650
@CloudyPadmal  the wave generator save config is done and working fine. I wanted to know how are we planning to save data for oscilloscope, like what will be the fields, also when users play backs a saved log, what should be exactly show?

[2019-06-17 05:46] CloudyPadmal commented on #1650
Data we need to log will be
- Readings related to each channel enabled by user
- Time
- Location
- Timebase/Amplitude settings per each reading

When user plays it back, we need to display the waveform at the same interval as they were recorded at the same amplitudes.

[2019-06-17 05:49] neel1998 commented on #1650
Okay. But what if while recording user changes the tab, as in goes to DataAnalysis tab or fourier tab, will we accordingly change the tab?...What we can do here is have a separate screen for playing the logged data of oscilloscope, which just has graph , even if during the recording user has changed to fourier transform, we can accordingly show fourier output for that period. Does that sound okay

[2019-06-17 05:54] CloudyPadmal commented on #1650
We keep on recording the raw data even if the use changes tabs because we will still have the feed. We don't need to record fourier data separately. We can derive that from oscilloscope readings as we are doing now. In the playback, let's give user the option to view either waveform or frequency graphs. We'll have to make some UI modifications for that.

[2019-06-17 05:57] neel1998 commented on #1650
Alright. I think i should make a separate screen to show the recorded data, since there is no sufficient space in current oscilloscope UI, further we need to add play/pause/stop and fourier transform toggle buttons. Does that sound good?

[2019-06-17 06:18] CloudyPadmal commented on #1650
We might be able to use the same UI by disabling components that are not needed and updating the components and their values. Say a user starts recording channel 1. Then he selects channel 2 and increase timebase. We can reuse the components to show user when he has selected channel 2 and the value in timebase slider. We can ditch the XY plot button and use that space and tab for some playback fea

[2019-06-17 06:24] neel1998 commented on #1650
But opening a same activity when user plays the data and then changing the UI programmatically will make a lots of redundant code. Won't be sensible to have a separate activity for playback with similar UI as the actual oscilloscope activity with necessary additions and exclusions

[2019-06-17 06:26] CloudyPadmal commented on #1650
Redoing a whole new UI not redundant?

[2019-06-17 06:27] neel1998 commented on #1650
I think redundant was an incorrect word i used :laughing: .. Alright I will try adding recording feature in the same activity.

[2019-06-17 06:31] CloudyPadmal commented on #1650
Yes, we need to implement features quickly and efficiently. Making new UIs and new classes would take days and at the end of GSoC it will be just the oscilloscope. Let's speed things up.

[2019-06-17 06:32] neel1998 commented on #1650
Got it. On it.

[2019-06-17 06:49] ho-dor commented on #1763
@neel1998 this can be done without the board ? Should I work on this ?

[2019-06-17 06:53] neel1998 commented on #1763
@ho-dor you can. But I don't know whether we need this feature or not. @CloudyPadmal can you please confirm . And if we need it please add this issue to Milestone 4

[2019-06-17 08:43] CloudyPadmal commented on #1763
Yes @neel1998 , Wave Generator UI is already pretty compact and it's a bit hard to figure out buttons too. Having a preview; I'm not sure if that's a good idea. We already giving user the shape of waveform (sine, triangular etc). Devices in market also don't provide such feature. So I'll close this for now.

[2019-06-17 08:43] #1763 closed

[2019-06-17 09:22] CloudyPadmal commented on #1426
We can add a section named `mA` to existing multimeter to implement this feature without creating a new instrument. @neel1998 @ho-dor

[2019-06-18 03:15] ho-dor opened #1803 "Create Guide for robotic arm"
**Actual Behaviour**

Currently no guide in robotic arm

**Expected Behaviour**

A guide like all the other instruments should be there.

**Steps to reproduce it**
N/A

**LogCat for the issue**

N/A

**Screenshots of the issue**

N/A

**Would you like to work on the issue?**

Yes.

[2019-06-18 04:18] #1751 closed

[2019-06-18 15:19] #874 closed

[2019-06-19 01:12] #1784 closed

[2019-06-19 13:59] viveksb007 opened #1806 "wrong plotting w.r.t channel selection in Oscilloscope"
**Actual Behaviour**

CH1 and CH3 are getting plotted in OscilloscopeActivity when CH2 and CH3 are selected.

CH1 and MIC input is getting plotted when MIC and CH2 is selected.

**Expected Behaviour**

CH1 and CH3 should be plotted when they are selected.

**Steps to reproduce it**

Check if condition and corresponding captureTask.execute
https://github.com/fossasia/pslab-android/blob/development/

[2019-06-19 16:08] ho-dor opened #1807 "Lot of hardcoded and redundant code in layout files"
**Actual Behaviour**

Hard coded dimens and colors and redundant code present in layout

**Expected Behaviour**

No redundant code

**Steps to reproduce it**

N/A

**LogCat for the issue**

N/A

**Screenshots of the issue**

N/A

**Would you like to work on the issue?**

Yes

[2019-06-20 09:52] #1650 closed

[2019-06-20 10:51] neel1998 opened #1809 "Add option for fourier transform while user is playing a saved log in oscillocsope"
**Actual Behaviour**
Currently the Fourier Transform checkbox isn't working.

**Expected Behaviour**
User should be able to see Fourier Transform of the waves when Fourier Transform checkbox is selected.

**Would you like to work on the issue?**
Yes

[2019-06-20 10:51] neel1998 commented on #1809
@mariobehling  please add this to milestone 4. Thanks

[2019-06-20 11:57] CloudyPadmal opened #1811 "Release PSLab v2.0.15"
**Actual Behaviour**

Development branch has enough commits and new features to make a new release

**Expected Behaviour**

Release v2.0.15 with version code 16

**Steps to reproduce it**

**LogCat for the issue**

**Screenshots of the issue**

**Would you like to work on the issue?**

@neel1998 can try.
Steps:
1. Increment version code and version in gradle file
2. Make a PR with the change
3. Cr

[2019-06-20 11:59] neel1998 commented on #1811
@CloudyPadmal  okay. Will do asap

[2019-06-20 11:59] neel1998 commented on #1809
@CloudyPadmal can you please add this to milestone 4

[2019-06-20 12:27] ho-dor opened #1812 "Accelerometer has a lot of Redundant Codes"
**Actual Behaviour**

A lot of redundant code in accelerometer.

**Expected Behaviour**

Should be more like gyroscope.

**Steps to reproduce it**

N/A

**LogCat for the issue**

N/A

**Screenshots of the issue**

N/A

**Would you like to work on the issue?**

Yes.

[2019-06-20 19:07] #1809 closed

[2019-06-21 09:59] #1807 closed

[2019-06-21 16:49] neel1998 opened #1815 "App crashes when user plays a saved gyroscope log"
**Actual Behaviour**
App crashes when user plays a saved gyroscope log

**Expected Behaviour**
App should not crash

**Steps to reproduce it**
Record gyroscope data, and play it from data logger activity

**LogCat for the issue**
2019-06-21 22:19:31.751 17761-17761/io.pslab E/AndroidRuntime: FATAL EXCEPTION: main
    Process: io.pslab, PID: 17761
    java.lang.NullPointerException: Attempt to invo

[2019-06-22 04:40] neel1998 opened #1816 "Convert Multiple CaptureTasks in Oscilloscope to a Single Capture Task"
**Actual Behaviour**
Currently there are multiple CaptureTasks which has lot of redundant code.

**Expected Behaviour**
Make a single CaptureTask to handle work of all the other capture tasks

**Would you like to work on the issue?**
Yes

[2019-06-22 04:42] neel1998 opened #1817 "Add Fourier Transform feature for CH3 and Built In MIC"
**Actual Behaviour**
Currently Fourier Transform option is only for CH1 and CH2.

**Expected Behaviour**
Add Fourier Transform option for CH3 and builtin MIC

**Would you like to work on the issue?**
Yes

[2019-06-22 06:51] cweitat commented on #1518
https://docs.google.com/document/d/1MJ8MnqumBS0ZbtPb2n0we-QWOodeTaVfiBo8jkOKfSQ/edit
try with this experiment but with the Android app

[2019-06-22 08:27] #1811 closed

[2019-06-22 12:17] neel1998 opened #1821 "Refactor Code for Fourier Transform Class and AudioBufferTask"
**Actual Behaviour**
Currently there are separate classes to handle different number of channels

**Expected Behaviour**
Create single class to handle all the channels

**Would you like to work on the issue?**
Yes

[2019-06-22 12:18] neel1998 opened #1822 "Add logging for more than 2 channels"
**Actual Behaviour**
Currently user can log only 2 channels simultaneously

**Expected Behaviour**
User should be able to log all channels simultaneously

**Would you like to work on the issue?**
Yes

[2019-06-22 12:21] neel1998 opened #1823 "XY plot feature doesn't work properly in oscilloscope"
**Actual Behaviour**
XY plot feature doesn't work properly in oscilloscope

**Expected Behaviour**
Implement the functionality similar to desktop app

**Would you like to work on the issue?**
Yes

[2019-06-22 12:22] neel1998 commented on #1394
@ho-dor you can take this up if you want

[2019-06-22 12:45] #1803 closed

[2019-06-22 15:28] #1806 closed

[2019-06-22 15:28] #1816 closed

[2019-06-22 15:44] neel1998 commented on #1815
@CloudyPadmal  i think you closed this by mistake

[2019-06-22 15:55] CloudyPadmal commented on #1815
Ah yes. #1820 PR title says it's fixing this issue.

[2019-06-22 15:58] neel1998 commented on #1815
Sorry. My bad .

[2019-06-22 16:03] CloudyPadmal commented on #1815
No worries..

[2019-06-22 18:00] ho-dor commented on #1823
Let me take a look at this . Will help me get acquainted with device working . @neel1998

[2019-06-22 18:04] neel1998 commented on #1823
@ho-dor actually i have started working on this one. All new issues are under my this weeks plan. Maybe to get idea of oscilloscope you could review PRs or try figuring something out for #1518 #1388 . Thanks

[2019-06-23 06:01] neel1998 opened #1825 "Logic Analyser Not working as expected"
**Actual Behaviour**
Currently logic analyser is giving weird outputs

**Expected Behaviour**
Logic analyser should give output similar to python library and conventional logic analyser

**Would you like to work on the issue?**
Yes

[2019-06-23 08:17] #1822 closed

[2019-06-23 09:24] CloudyPadmal commented on #1825
Can post any screenshots of the output?

[2019-06-23 12:05] ho-dor commented on #1394
@CloudyPadmal I read about how to do this . So , in the fastlane metadata folder , I have to create a fdroid folder and in that add desc and images ? Correct me if I am wrong.

[2019-06-23 12:54] neel1998 commented on #1825
![Screenshot_20190623-181107](https://user-images.githubusercontent.com/32041242/59976582-26599d00-95e4-11e9-8ab1-e147885798f4.png)
![Screenshot_20190623-181122](https://user-images.githubusercontent.com/32041242/59976583-26599d00-95e4-11e9-9c76-2e5624f98817.png)

[2019-06-23 12:55] neel1998 commented on #1821
@CloudyPadmal  @mariobehling  add this to Milestone 5

[2019-06-24 09:55] ho-dor commented on #1388
@neel1998 I am working on this. Thanks.

[2019-06-24 14:50] ho-dor commented on #1815
I don't have the gyroscope sensor in my device so I don't think I will be able to debug it

[2019-06-24 18:13] neel1998 commented on #1815
No problem I will take it up

[2019-06-25 06:23] ho-dor commented on #1388
@neel1998 @CloudyPadmal @mariobehling @cweitat can you confirm this issue still exists ? On my device, it is working fine . 3.1 khz shows 3.1 khz wave

[2019-06-25 06:25] neel1998 commented on #1388
I don't have an actual oscilloscope so can't confirm the generated wave frequency

[2019-06-25 06:32] geekyjoyce72 commented on #1388
@ho-dor is this a app or firmware related thing? I'm not exactly sure how the app and firmware works at the moment, sorry

If anyone around (in Singapore that is) can pass me a device, I can measure the signal with my scope and frequency counter to veirfy

[2019-06-25 09:09] ho-dor opened #1829 "App crashes when sin wave Logic analyser Analysed with CH3."
**Actual Behaviour**

App is crashing when sin wave analysed with logic analyser on CH3.

**Expected Behaviour**

**Steps to reproduce it**

Open wave generator use Wave 1 and set any freq and view with logic analyser.
Press analyse on logic analyser.

**Logs**

`java.lang.NullPointerException: Attempt to invoke virtual method 'void android.support.v4.app.FragmentActivity.runOnUiThread(java.lang.R

[2019-06-25 09:36] CloudyPadmal commented on #1829
@ho-dor please add crash logs if possible

[2019-06-25 10:58] neel1998 commented on #1829
I think this will be solved with #1825 since that issue is intended for proper functionality of Logic Analyzer

[2019-06-25 12:57] #1821 closed

[2019-06-25 13:01] neel1998 commented on #1817
This one is not yet fixed entirely. Fourier Transform for Built In mic input is still to be implemented. Reopening this issue

[2019-06-25 13:02] neel1998 commented on #1822
@mariobehling can this be added to milestone so we can keep track of the issues closed during this week. Thanks

[2019-06-25 13:02] neel1998 commented on #1821
@mariobehling can this be added to milestone so we can keep track of the issues closed during this week. Thanks

[2019-06-25 13:09] CloudyPadmal commented on #1817
Don't add tag lines like "Fix #nnn" in PR body. They will automatically closes issues. Also I got a question. I guess the solution for this issue is something quiet similar to what you've done in #1799 addressing #1798. And this issue is opened for 3 days. Can we get a quick fix for this?

[2019-06-25 13:12] CloudyPadmal commented on #1821
Done

[2019-06-25 13:13] neel1998 commented on #1817
No actually after converting all capture, audio buffer classes to one, it will be different to have fourier for Built in Mic Audio Input. Still i will make a PR by tonight

[2019-06-25 13:24] #1812 closed

[2019-06-25 14:03] #1394 closed

[2019-06-25 20:02] #1817 closed

[2019-06-25 20:08] cweitat commented on #1388
@geekyjoyce72 I think i passed you a device previously? Or I remembered wrongly.

[2019-06-25 20:14] geekyjoyce72 commented on #1388
@cweitat you had requested me to return you the device at the start of the year or end last year I think, so I have no devices on hand to test with

[2019-06-26 03:08] #1815 closed

[2019-06-26 06:13] neel1998 opened #1832 "Make UI of Wave Generator more comprehensible"
**Actual Behaviour**
User can not exactly understand the use of different buttons and mode from current UI

**Expected Behaviour**
Make the UI more comprehensible. Show those buttons which are related to the current mode (square/pwm) . The buttons will toggle upon changing the mode

**Would you like to work on the issue?**
Yes

[2019-06-26 06:38] CloudyPadmal opened #1833 "Add JavaDocs to ScienceLab.java class"
**Actual Behaviour**

[`ScienceLab.java`](https://github.com/fossasia/pslab-android/blob/development/app/src/main/java/io/pslab/communication/ScienceLab.java) class got no documentation.

**Expected Behaviour**

Each function should be well documented with JavaDocs so that it will be helpful for new developers to understand the code

**Steps to reproduce it**

Check out [`ScienceLab.java`](https:/

[2019-06-26 17:31] #1823 closed

[2019-06-26 17:31] ho-dor commented on #1518
@neel1998 I will have a go at this one. Thanks.

[2019-06-26 17:33] neel1998 commented on #1518
@ho-dor sure go ahead. But first make sure this issue still exists

[2019-06-26 17:35] ho-dor commented on #1518
Yup. We also need to figure out whether #1388 exists or not.

[2019-06-26 17:36] cweitat commented on #1518
@ho-dor try to do the experiment from the link I gave above. It's the closest one that I can find. Else you can just do what I mentioned in the issue above

[2019-06-26 17:38] cweitat commented on #1388
@geekyjoyce72 follow up with you on Gitter

[2019-06-26 18:33] neel1998 commented on #1823
@cweitat  can you please add this one to milestone 5. Thanks

[2019-06-27 01:19] CloudyPadmal commented on #893
There is a UI available with mentioned min max values with value changes

[2019-06-27 01:19] #893 closed

[2019-06-27 07:17] neel1998 commented on #1387
@CloudyPadmal @mariobehling  this is already working fine and i think can be closed

[2019-06-27 11:20] #1387 closed

[2019-06-27 14:19] ho-dor commented on #1518
@cweitat I am unable to re-generate this issue with frequency above 4000 and maximum timebase possible. Can you try once this expt , I think this issue doesn't exist anymore maybe.

[2019-06-27 14:21] ho-dor commented on #1518
Works perfectly for me oscilloscope even with max frequency and timebase

[2019-06-27 14:23] neel1998 commented on #1518
@ho-dor i also thought that after the new changes in the oscilloscope this issue might have been solved. But let's wait for confirmation from @cweitat

[2019-06-27 17:15] ho-dor commented on #1165
I would like to work on this.
Reference :- [https://blog.fossasia.org/filling-audio-buffer-to-generate-waves-in-the-pslab-android-app/](url)

[2019-06-27 19:04] woshikie commented on #1518
![image](https://user-images.githubusercontent.com/11439405/60293216-635dc080-9951-11e9-8318-5ae083c73b07.png)
Still looks slightly glitchy, especially towards the end.
When reading 2 channels at the same time, the app glitches out

[2019-06-27 23:31] ankitsharma5652 commented on #1829
I would like to solve this issue.

[2019-06-28 02:35] ho-dor commented on #1829
@ankitsharma5652 @neel1998 is working on this in #1825 as mentioned above

[2019-06-29 01:45] #1182 closed

[2019-06-29 02:09] CloudyPadmal commented on #1267
Fixed in #1837

[2019-06-29 02:09] #1267 closed

[2019-06-29 06:34] #1829 closed

[2019-06-29 11:42] cweitat opened #1840 "Expand sensors support"
To expand the support of sensors
https://pslab.io/sensors/

Sensors from the kit is the priority followed by commonly used sensors.

- [ ] Moisture sensor FR-04
- [ ] LDR GL5528
- [ ] Microphone KY-037
- [ ] Magnetic KY-003
- [ ] Temperature LM-35
- [ ] Gas MQ135

[2019-06-29 11:47] ho-dor commented on #1840
I'll start on this 👍 .

[2019-06-30 14:24] ho-dor commented on #1172
Working on this.

[2019-06-30 15:05] neel1998 opened #1842 "Add import log function for oscilloscope"
**Actual Behaviour**
Currently user can't import log from local storage to app

**Expected Behaviour**
Import log should be implemented for oscilloscope like other instruments

**Would you like to work on the issue?**
Yes

[2019-06-30 18:20] neel1998 commented on #1840
I am working on MQ135 Gas sensor

[2019-06-30 19:04] neel1998 commented on #1840
@cweitat most of the mentioned sensors are to I2C as i understand. So, how do we communicate to sensors which are not I2C that are connected to the PSLab device. Please guide

[2019-06-30 19:31] woshikie commented on #1840
@neel1998
Googling the part number with arduino could be a good start.
Some sensors are more straight forward as they are either resistive or capacitive, while some might use other serial communication line such as UART.

[2019-06-30 19:34] neel1998 commented on #1840
@woshikie thanks for the help. I will look into it

[2019-06-30 20:37] neel1998 opened #1845 "Add interface to scan bluetooth devices for feature of bluetooth communication with PSLab"
**Actual Behaviour**
Currently PSLab can communicate only through wired connection. New feature of communication over bluetooth needs to be added

**Expected Behaviour**
Add interface so user can scan available bluetooth devices.

**Would you like to work on the issue?**
Yes

[2019-07-01 07:55] mariobehling opened #1847 "Update APK generation and follow name conventions"
Please reduce the number of APKs generated and change the generation of the APK file as follows:

- pslab-dev-debug.apk
- pslab-dev-debug-fdroid.apk
- pslab-master-debug.apk
- pslab-master-debug-fdroid.apk
- pslab-master-unsigned.apk
- pslab-master-unsigned-fdroid.apk

[2019-07-01 08:16] neel1998 commented on #1847
@mariobehling i don't think we can generate fdroid apk as of now , since fdroid version is yet not finalized and working.

[2019-07-01 15:02] geekyjoyce72 commented on #1388
Hi @ho-dor, I can confirm that this issue has been fixed.

Attached is the respective measurement on a digital oscilloscope
![IMG_20190701_225748](https://user-images.githubusercontent.com/13187059/60446533-1ed56c00-9c54-11e9-82ea-6d7227eaef69.jpg)

[2019-07-01 15:02] #1388 closed

[2019-07-02 05:20] #1842 closed

[2019-07-02 12:15] neel1998 commented on #1389
@geekyjoyce72 can you please check whether this issue still exist with latest changes. Thanks

[2019-07-02 12:26] #1847 closed

[2019-07-02 12:27] #1833 closed

[2019-07-02 14:56] ho-dor commented on #1165
@neel1998 @CloudyPadmal @mariobehling I don't think this is any different from the in-built mic functionality that we have already as we are using AudioJack instance for that functionality as well. This can be closed.

[2019-07-02 14:58] geekyjoyce72 commented on #1389
Hello,

For the sake of being meticulous with testing, this is the output measured in the application.

![Screenshot_2019-07-02-22-27-16-372_io pslab](https://user-images.githubusercontent.com/13187059/60521716-51e23300-9d1a-11e9-8038-965a1646806f.png)

This is an issue that is **not** at all possible to fix in software. The reason is that this is an issue on the hardware design side of things, na

[2019-07-03 05:44] neel1998 commented on #1165
@CloudyPadmal @mariobehling  please close this

[2019-07-03 13:39] #613 closed

[2019-07-05 06:51] #1288 closed

[2019-07-05 16:30] ho-dor commented on #993
@neel1998 this can be closed?

[2019-07-05 18:06] neel1998 opened #1851 "Add meta data to identify instrument to logged csv files"
**Actual Behaviour**
Currently there is no meta in the logged csv file regarding the instrument.

**Expected Behaviour**
Ad a row at top containing instrument name which can be used to identify the csv file . Also make logged csv file consistent across Android and Desktop app

**Would you like to work on the issue?**
Yes

[2019-07-06 11:15] neel1998 commented on #1518
@woshikie can you please check with the latest app. The last gif you sent is not with the latest app version. Thanks

[2019-07-06 17:44] neel1998 opened #1853 "Allow user to use built mic in oscilloscope even is PSLab board is not connected"
**Actual Behaviour**
Currently user needs to connect PSLab device to phone to use built in mic

**Expected Behaviour**
There is no need of PSLab devices to use built in mic

**Would you like to work on the issue?**
Yes

[2019-07-08 06:37] #1853 closed

[2019-07-08 06:46] CloudyPadmal commented on #993
@ho-dor is I2C sensors working now?

[2019-07-08 08:58] ho-dor commented on #1689
@CloudyPadmal can you tell a bit more about this? Are we supposed to provide this functionality with help of an external sensor? I was looking in the list of i2c sensors and found 2 which are used for oled SSD1305 and SSD1306? [https://learn.adafruit.com/i2c-addresses/the-list](url)

[2019-07-08 09:11] neel1998 commented on #1689
@ho-dor i already have the display and am working on it.

[2019-07-08 10:17] CloudyPadmal commented on #1689
We need I2C to work for this to function properly. For now, we can let user display any string or shape on the oled screen

[2019-07-08 10:18] neel1998 commented on #1689
For basic functionality we will use SPI , right?. I tried running the example code for spi on my arduino with oled

[2019-07-08 13:42] CloudyPadmal commented on #1689
We'll use the I2C display. That's the common one. Less wires.

[2019-07-08 13:44] neel1998 commented on #1689
Oh. I have one with 6 pins. So that won't work?

[2019-07-08 16:55] CloudyPadmal commented on #1689
This is I2C. It'll work

[2019-07-10 05:54] neel1998 commented on #1165
@CloudyPadmal  @mariobehling can we close this?

[2019-07-10 06:01] CloudyPadmal commented on #1165
This is about producing waves; not observing. Do we have that feature?

[2019-07-10 06:07] neel1998 commented on #1165
I didn't understand your point. Currently we are displaying the wave produced by the sound on the oscilloscope. What do you mean by producing...??

[2019-07-10 06:12] CloudyPadmal commented on #1165
Can you read and understand the **title** of this issue? You can also read the issue body if it's still hard for you to understand.

[2019-07-11 05:44] neel1998 commented on #1165
@CloudyPadmal here is what i hve understood, the user will decide some wave let's say some sine/triangular wave with freq,amp and phase, and we are suppose to produce a sound wave based on that. For example, whistling is a kind of a sine wave, so if user gives sine wave to this feature, a sound like whistle should be produced. Am i correct?

[2019-07-11 06:07] #1851 closed

[2019-07-11 06:12] CloudyPadmal commented on #1165
https://blog.fossasia.org/filling-audio-buffer-to-generate-waves-in-the-pslab-android-app/
https://blog.fossasia.org/using-the-audio-jack-to-make-an-oscilloscope-in-the-pslab-android-app/

[2019-07-11 10:09] #1845 closed

[2019-07-11 14:45] ho-dor opened #1858 "Back Press not working properly in multiple instruments"
**Actual Behaviour**

infinite loop between logged data screen and lux meter activity.

**Expected Behaviour**

Main Screen should open up when back is pressed on lux meter activity.

**Steps to reproduce it**

Open logged data in luxmeter and press your device's back button.

**LogCat for the issue**

**Screenshots of the issue**

![20190711_200753](https://user-images.githubusercontent.com/37077

[2019-07-11 14:57] ho-dor opened #1859 "Multimeter display gets stuck when device is disconnected on it's last value"
**Actual Behaviour**

Multimeter value gets stuck at the last value even after device is not connected.

**Expected Behaviour**

Multimeter value should go back to default 0.00 once the device is disconnected.

**Steps to reproduce it**

1)-Connect the device
2)-Open multimeter and try different values.
3)-Disconnect the device. Rotate knob of multimeter.

**LogCat for the issue**

N/A

**Screensh

[2019-07-11 16:09] neel1998 opened #1860 "Robotic Arm time line control buttons not visible"
**Actual Behaviour**
Currently play/pause/stop buttons are not visible

**Expected Behaviour**
Buttons should be visible

**Screenshots of the issue**
<img src="https://user-images.githubusercontent.com/32041242/61067016-41217380-a424-11e9-9bba-5385a4053f8e.png" width = "500"/>

**Would you like to work on the issue?**
yes

[2019-07-11 16:13] neel1998 commented on #1858
@ho-dor  this is happening with al the instruments i think. Change the title from just lux meter. I think same fix will work for all the instruments

[2019-07-11 16:19] neel1998 opened #1861 "Record feature for power source not working properly"
**Actual Behaviour**
Currently the record feature is not working as expected. File is not getting generated

**Expected Behaviour**
Recording should work properly.

**Would you like to work on the issue?**
Yes

[2019-07-11 16:30] neel1998 opened #1862 "Auto Start App option not working"
**Actual Behaviour**
Even if the auto start option in the app settings in not selected, app gets open when the board is connected

**Expected Behaviour**
App should only open if the auto start app option is selected

**Steps to reproduce it**
1. Uncheck the Auto Start Option from settings menu
2. Connect the PSLab board

**Would you like to work on the issue?**
Yes

[2019-07-11 16:37] neel1998 opened #1863 "Multimeter log data is not being added to realm hence to shown in Data logger Activity"
**Actual Behaviour**
Multimeter log data is not being added to realm hence to shown in Data logger Activity. So user can not play back the log

**Expected Behaviour**
Saved log should be added to realm and shown in data logger activity , so user can play back it.

**Would you like to work on the issue?**
Yes

[2019-07-11 16:40] ho-dor commented on #1860
![Screenshot_20190711-220808_PSLab](https://user-images.githubusercontent.com/37077735/61068816-8c3d8580-a428-11e9-8f6d-d655e34f00b9.jpg)

Visible on my device.

[2019-07-11 16:42] neel1998 commented on #1860
@ho-dor  may be the size of the layouts are assigned properly from java, so it is looking different on different screen size. I will look into it

[2019-07-11 16:50] neel1998 opened #1864 "Twitter and Facebook links not working in About screen"
**Actual Behaviour**
Twitter and Facebook links not working in About screen

**Expected Behaviour**
Links should direct to respective pages

**Steps to reproduce it**
Click on facebook/twitter links in About page

**Screenshots of the issue**
![20190711_221749](https://user-images.githubusercontent.com/32041242/61069491-07ec0200-a42a-11e9-8c40-f33f2b73d4e3.gif)

**Would you like to work on the iss

[2019-07-11 16:50] neel1998 commented on #1864
@mariobehling  can you please provide the links for the facebook and twitter accounts. Thanks

[2019-07-11 17:00] neel1998 opened #1865 "Make value fields of power source editable"
**Actual Behaviour**
Currently user can set value for different power source using only knobs

**Expected Behaviour**
User should be able to add values using keyboard as well

**Would you like to work on the issue?**
Yes

[2019-07-11 17:04] neel1998 opened #1866 "Value in the circular indicator doesn't change in lux meter"
**Actual Behaviour**
The value stays fixed at 1 in the indicator

**Expected Behaviour**
Indicator should change according to the graph

**Steps to reproduce it**
Open lux meter

**Screenshots of the issue**
![20190711_223139](https://user-images.githubusercontent.com/32041242/61070273-e7bd4280-a42b-11e9-9b76-a137eaf00943.gif)

**Would you like to work on the issue?**
Yes

[2019-07-11 17:43] CloudyPadmal commented on #1864
@neel1998 haven't you followed the twitter account and fb page yet?

[2019-07-11 17:48] neel1998 commented on #1864
fb : https://www.facebook.com/fossasia/?ref=br_rs
twitter : https://twitter.com/fossasia
Are these two links correct?

[2019-07-11 17:49] CloudyPadmal commented on #1864
Search PSLab and you'll see

[2019-07-11 17:51] CloudyPadmal commented on #1864
Twitter link is already in the readme. Always need guidance.

[2019-07-11 17:56] neel1998 commented on #1864
Got it. Sorry for bothering you.

[2019-07-11 21:17] neel1998 opened #1869 "Lots of redundant code in the DataLogger Activity for imorting logs"
**Actual Behaviour**
Currently separate code blocks are there for each instrument

**Expected Behaviour**
The code is almost similar for all the instrument. Can be reduced to a common function

**Would you like to work on the issue?**
Yes

[2019-07-12 06:56] #1864 closed

[2019-07-12 07:20] #1858 closed

[2019-07-13 09:27] ho-dor opened #1872 "Crash on opening gyroscope configuration menu"
**Actual Behaviour**

crash when configuration menu is opened in gyroscope

**Expected Behaviour**

crash should not happen

**Steps to reproduce it**

Open gyroscope configuration

**LogCat for the issue**

 Caused by: java.lang.NullPointerException: Attempt to invoke virtual method 'java.lang.String android.support.v7.preference.EditTextPreference.getText()' on a null object reference
        at

[2019-07-14 12:57] ankitsharma5652 commented on #1872
I found issue. Issue is with key we are using GyroscopeSettingsFragment and XML.

We using "setting_gyro_update_period" in class and  "setting_lux_update" in XML.

Same issue with "high_limit_lux", "setting_lux_sensor_gain" in XML

[2019-07-14 13:01] #1872 closed

[2019-07-14 17:35] #1860 closed

[2019-07-15 09:24] #1866 closed

[2019-07-17 01:51] #1865 closed

[2019-07-17 01:53] #1869 closed

[2019-07-17 01:54] #1832 closed

[2019-07-18 06:32] cweitat opened #1879 "Submenu's "Meter Configuration" words stuck together at multiple instruments"
**Actual Behaviour**
meter configuration words are stuck together.
Same for accelerometer, barometer, compass and others. Please check.
<img src="https://user-images.githubusercontent.com/11439477/61434409-7835de80-a968-11e9-9a13-c5c25f8a416d.png" width="400px"/>

**Expected Behaviour**
Should be separated

[2019-07-18 19:45] neel1998 commented on #1518
@cweitat  @woshikie  Have you been able to check this issue with the latest app?

[2019-07-19 07:05] #1739 closed

[2019-07-19 07:29] CloudyPadmal opened #1880 "Reduce repo size"
**Actual Behaviour**

pslab-android repo size is 1.9 GB. https://api.github.com/repos/fossasia/pslab-android

**Expected Behaviour**

Need to reduce it to actual size by removing unwanted cached files similar to what they've done in phimpme project

**Steps to reproduce it**

https://api.github.com/repos/fossasia/pslab-android check size property. Or try to clone the repo

**LogCat for the issue**

[2019-07-19 07:54] neel1998 commented on #1880
on it :+1:

[2019-07-19 08:06] #1863 closed

[2019-07-19 08:10] CloudyPadmal opened #1881 "Update build scripts to support flavors"
**Actual Behaviour**

Build script does not support flavors.

**Expected Behaviour**

playstore and fdroid favors need to be supported by the scripts when uploading to playstore and making releases in fdroid store

**Steps to reproduce it**

**LogCat for the issue**

**Screenshots of the issue**

**Would you like to work on the issue?**

Issue for GSoC

[2019-07-20 06:45] CloudyPadmal opened #1882 "PSLab SD Card configuration"
**Actual Behaviour**

In order to use PSLab without using a device (say, mount on a weather station), a configuration file is needed to save in SD card so that the PSLab can read the setting from this file and do the processing and logging

**Expected Behaviour**

Have these properties in the config file in YAML format
- File Name (Optional)
- Instrument Name
- Logging Interval
- Parameters needed

[2019-07-20 06:47] #1861 closed

[2019-07-21 13:18] neel1998 commented on #1882
@CloudyPadmal user should be able to give start time and end time , right? To specify the period in which the data should be logged for given parameters.

[2019-07-21 15:41] CloudyPadmal commented on #1882
No. It will make things complicated.  Just add the configs mentioned in the issue body.

[2019-07-21 15:43] neel1998 commented on #1882
What should be the unit of logging interval, minutes / hours / days? Should there be an option for that as well?

[2019-07-22 01:07] CloudyPadmal commented on #1882
Yea put an option

[2019-07-23 16:22] King3323 opened #1884 "Not enough resolution in PWM Duty Cycle"
**Actual Behaviour**

The user interface only allows increments of 10%

**Expected Behaviour**

Allow 1% increments for the Duty cycle

[2019-07-24 13:50] #1884 closed

[2019-07-25 16:55] #1881 closed

[2019-07-27 04:11] adityastic opened #1888 "Support AAB Releases"
Bundling the app reduces its app size significantly, almost a 20-30% difference.

**Would you like to work on the issue?**
No

[2019-07-27 04:11] adityastic commented on #1888
@neel1998

[2019-07-28 06:59] neel1998 commented on #1392
@cweitat  should this be included in multimeter it self or there should be a separate screen ? May be we can combine #1426 and this instrument together in one screen.

[2019-07-28 08:03] #1879 closed

[2019-07-28 08:35] cweitat commented on #1392
@neel1998 this was mentioned few meetings ago to include within multimeter.

[2019-07-28 09:26] neel1998 commented on #1392
@cweitat  yes, but multimeter is already very crowded that's why I asked. If we are going to read watts for the same pins as there are currently in multimeter, may be we can add a separate block in display which shows watt as well.

[2019-07-28 14:15] neel1998 commented on #1392
@cweitat for which pins exactly we plan to read power?

[2019-07-28 17:26] #1888 closed

[2019-07-28 17:58] neel1998 commented on #1426
@CloudyPadmal is there any way we can implement this functionality without some external sensor like acs712. I am not very sure if we can get Current information from PSLab directly that's why asking you. Thanks

[2019-07-28 20:01] neel1998 commented on #1880
@CloudyPadmal  I have found the reason for huge repo size. There are lots of old apks with size around 20 Mb. You can see those files by executing the following command,

``` git rev-list --objects --all | git cat-file --batch-check='%(objecttype) %(objectname) %(objectsize) %(rest)' | sed -n 's/^blob //p' | sort --numeric-sort --key=2 | cut -c 1-12,41- | numfmt --field=2 --to=iec-i --suffix=B --p

[2019-07-29 01:32] cweitat commented on #1392
Derive from voltage

[2019-07-29 08:35] neel1998 commented on #1392
@cweitat where can I find which resistor is connected to which pins on PSLab internally. So I can calculate the power using P = V^2/R. I looked into the PSLab data sheet but resistor information is not given there.

[2019-07-29 09:14] cweitat commented on #1392
@CloudyPadmal

[2019-07-29 10:52] CloudyPadmal commented on #1392
Well, I think there's no direct way to measure power. Will have to connect a known resistor to measure current and then measure the voltage drop across the equipment to calculate I^2R. Not sure about the practicality of this method though. :thinking:

[2019-07-29 11:03] CloudyPadmal commented on #1426
Yes right. There's no direct way to measure.

[2019-07-29 11:07] neel1998 commented on #1426
So should I get an acs712 sensor or you suggest some other one?

[2019-07-29 11:08] CloudyPadmal commented on #1880
Yes I can do this. But before that, run all these commands in a fresh clone and document the following (as much details as possible). Probably in a text file and upload here.
1. git log ($ git log)
2. file structure ($ tree .)
3. command outputs on console from pruning and bfg tool

[2019-07-29 11:09] neel1998 commented on #1880
Sure

[2019-07-29 11:13] CloudyPadmal commented on #1426
We'll leave it for now. Probably a hardware solution will be the best. I'm moving this to pslab-hardware repo.

[2019-07-29 11:16] CloudyPadmal commented on #1392
Hardware based solution would be better. Moving this to pslab-hardware repo

[2019-07-29 11:17] neel1998 commented on #1518
@cweitat any updates on this?

[2019-07-29 13:15] woshikie commented on #1518
![ezgif com-video-to-gif (1)](https://user-images.githubusercontent.com/11439405/62051470-0bfb8a80-b246-11e9-86bc-93f165190ca2.gif)

sorry for the delay. It's still buggy

[2019-07-29 14:55] neel1998 commented on #1880
[repo_clean.zip](https://github.com/fossasia/pslab-android/files/3442840/repo_clean.zip)

@CloudyPadmal  please find all the requested results in the above zip file in .txt formats. The file names are self-explanatory. Please let me know if anything else has to be done. Thanks

[2019-07-29 18:28] neel1998 opened #1891 "Add feature to connect to PSLab over wifi using ESP module"
**Actual Behaviour**
Currently no feature to connect to PSLab over wifi

**Expected Behaviour**
Add feature to connect to PSLab over wifi using ESP

**Steps to reproduce it**
N/A

**LogCat for the issue**
N/A

**Screenshots of the issue**
N/A

**Would you like to work on the issue?**
Yes

[2019-07-29 18:33] neel1998 opened #1893 "Update README with new Layouts and Flavor information"
**Actual Behaviour**
Current README file has old screenshots and no information about application flavors

**Expected Behaviour**
Update readme with latest information

**Would you like to work on the issue?**
yes

[2019-07-30 03:08] CloudyPadmal commented on #1880
@neel1998 you're in PSLab-Admin group. You'll be able to make a push to main repo. https://github.com/orgs/fossasia/teams/pslab-admins Can you proceed with this?

[2019-07-30 06:17] CloudyPadmal commented on #1880
Along with this, update the scripts to delete the old apks.

https://github.com/fossasia/open-event-organizer-android/blob/development/scripts/update-apk.sh#L56

Otherwise this issue will happen again.

[2019-07-30 09:03] adityastic commented on #1880
@CloudyPadmal Sir, @neel1998 has added the script to delete apk's, I remember reviewing them as well.

[2019-07-30 09:04] adityastic commented on #1880
Yes, I can confirm he did.

https://github.com/fossasia/pslab-android/blob/development/scripts/upload-apk.sh#L15

[2019-07-30 10:53] neel1998 commented on #1880
@CloudyPadmal  i think you only will have to make these changes since the branch is protected. When i tried force pushing i got the following error,

[code]
Also please remove png files from the history along with apks with following command,
``` java -jar bfg.jar --delete-files *.png ```

[2019-07-30 11:19] CloudyPadmal commented on #1880
I've made a backup branch and removed protection for now. Try a force push now.

[2019-07-30 19:30] CloudyPadmal opened #1896 "Upload apk script errors"
Upload apk script tries to delete apk branch when it's checked out to the same branch. Makes the build interrupt.

[2019-07-31 09:25] #1896 closed

[2019-07-31 09:29] neel1998 commented on #1880
@CloudyPadmal we can close this now.

[2019-07-31 09:30] #1880 closed

[2019-07-31 09:37] CloudyPadmal opened #1898 "Release 2.0.17 app version"

[2019-07-31 09:46] neel1998 commented on #1898
For this i ll have to make a PR to master branch, right?

[2019-07-31 09:51] CloudyPadmal commented on #1898
No. You've done this once. Update the version and version code in gradle files and make a PR. Two lines of code will take one minute.

[2019-07-31 09:53] neel1998 commented on #1898
@CloudyPadmal sorry. My bad. I have classes now. Will make a PR within 2 hours

[2019-07-31 11:58] #1859 closed

[2019-07-31 12:00] #1898 closed

[2019-07-31 12:26] CloudyPadmal opened #1901 "Master branch Playstore APKs not being built"
**Actual Behaviour**

Once a release is made (i.e. push to master), master apks should be generated and supply them to fastlane for Google Play store. Build is ending without proceeding to next steps from https://github.com/fossasia/pslab-android/blob/master/scripts/upload-apk.sh#L24

**Expected Behaviour**

Generate signed apks and fastlane sends them to Google Play

**Steps to reproduce it**

**

[2019-07-31 12:30] adityastic commented on #1901
Directory needs to be changed, let me drop a pr in a minute

[2019-07-31 12:31] neel1998 commented on #1901
@adityastic yes we are in apk directory. We need to use ../gradlew

[2019-07-31 12:33] adityastic commented on #1901
@neel1998 no xD that wont work. ( cd .. & ./gradlew ... ) is what you need to do.

[2019-07-31 12:34] adityastic commented on #1901
but for the case of debugging, let us store the aab for debug as well.

[2019-07-31 12:34] neel1998 commented on #1901
@adityastic got it.

[2019-07-31 17:34] CloudyPadmal commented on #1901
Didn't get fixed

[2019-07-31 17:35] CloudyPadmal commented on #1901
Refer this https://github.com/fossasia/open-event-attendee-android/blob/development/scripts/update-apk.sh

[2019-07-31 18:36] neel1998 commented on #1901
@adityastic i guess we are not giving the correct path for the aab.... @CloudyPadmal the problem is only occurring when trying to upload using fastlane, right?

[2019-07-31 18:45] CloudyPadmal commented on #1901
It doesn't even reach that far. Basic file handling errors

[2019-07-31 19:15] neel1998 commented on #1901
@CloudyPadmal done. Please check. Hopefully, it should work as expected this time

[2019-08-01 07:33] CloudyPadmal commented on #1901
https://travis-ci.org/fossasia/pslab-android/builds/566339963#L1748

Still errors. I'll look into this issue

[2019-08-01 12:30] #1882 closed

[2019-08-02 18:25] CloudyPadmal commented on #1901
Fixed

[2019-08-02 18:25] #1901 closed

[2019-08-02 18:26] #1893 closed

[2019-08-02 18:40] #1825 closed

[2019-08-03 15:41] neel1998 opened #1909 "Add data logging to Logic Analyzer"
**Actual Behaviour**
Currently no logging for Logic Analyzer

**Expected Behaviour**
Logic Analyzer should also have logging feature like other instruments

**Steps to reproduce it**
N/A

**LogCat for the issue**
N/A

**Screenshots of the issue**
N/A

**Would you like to work on the issue?**
yes

[2019-08-06 01:29] #1909 closed

[2019-08-06 13:09] neel1998 opened #1912 "Add support for MQ 135 gas sensor"
**Actual Behaviour**
Currently no feature to get output of MQ 135 sensor

**Expected Behaviour**
Add support for MQ 135

**Steps to reproduce it**
N/A

**LogCat for the issue**
N/A

**Screenshots of the issue**
N/A

**Would you like to work on the issue?**
Yes

@CloudyPadmal since this is not a I2C sensor, I was thinking of adding it as a separate instrument like barometer and luxmeter. Does that

[2019-08-06 13:10] CloudyPadmal commented on #1912
Yes, sounds good. I hope in the meantime you're checking out I2C issue.

[2019-08-06 13:12] neel1998 commented on #1912
@CloudyPadmal  sure. I am onto it. Constantly communicating with Aakash as well regarding I2C

[2019-08-06 15:16] cweitat commented on #1518
@neel1998 do you know the setup to acheive this readings?

[2019-08-06 16:31] CloudyPadmal commented on #1891
#1911 is Android boilerplate code. No functionality added to interface ESP

[2019-08-08 04:09] #1912 closed

[2019-08-08 06:46] CloudyPadmal opened #1914 "Update metadata in fdroid deployment"
**Actual Behaviour**

Description files and icon are missing in fastlane directory for fdroid metadata

**Expected Behaviour**

Need them to be updated

**Steps to reproduce it**

Check fastlane metadata directory

**LogCat for the issue**

**Screenshots of the issue**

**Would you like to work on the issue?**

Yes

[2019-08-08 07:32] CloudyPadmal opened #1916 "Draft releases automatically"
**Actual Behaviour**

Currently we are preparing release body content manually looking at the merges. This might miss some features and it could be automated

**Expected Behaviour**

Similar to what they have done in open-event-organizer-android app, we can draft them using https://github.com/toolmantim/release-drafter#readme

**Steps to reproduce it**

**LogCat for the issue**

**Screenshots of t

[2019-08-08 07:48] #1914 closed

[2019-08-08 10:31] #1916 closed

[2019-08-08 11:38] CloudyPadmal opened #1919 "Update readme with Gas sensor"
**Actual Behaviour**

Readme file doesn't contain gas sensor as an instrument

**Expected Behaviour**

Update this instrument and fix formatting errors along with it.

**Steps to reproduce it**

**LogCat for the issue**

**Screenshots of the issue**

**Would you like to work on the issue?**

Yes

[2019-08-08 11:47] #1919 closed

[2019-08-10 10:40] neel1998 opened #1921 "Add logging to Gas Sensor Like other instruments"
**Actual Behaviour**
Currently, Gas Sensor doesn't have logging feature

**Expected Behaviour**
Add logging to Gas Sensor like other instruments

**Steps to reproduce it**
N/A

**LogCat for the issue**
N/A

**Screenshots of the issue**
N/A

**Would you like to work on the issue?**
yes

[2019-08-11 04:28] CloudyPadmal commented on #1862
Why is this closed without providing any comment? :thinking:

[2019-08-11 04:40] neel1998 commented on #1862
@CloudyPadmal sorry . I forgot to put the comment. Basically the usb attach listener is added using intent filter... And according to this https://stackoverflow.com/questions/4862607/how-to-add-or-remove-intent-filter-programmatically-in-android we can't programmatically add/remove intent-filter. There might be some lousy workaround, that too maybe. Since this isn't a crucial change. We can close

[2019-08-11 05:58] neel1998 commented on #1518
@cweitat sorry for the late reply. I have been able to get this reading. I will try to get it fixed by today. :innocent:

[2019-08-11 06:01] #1921 closed

[2019-08-11 07:35] #1862 closed

[2019-08-12 15:39] neel1998 opened #1925 "Add documentation for ESP communication and connection"
**Actual Behaviour**
Currently no docs available regarding ESP connection and communication

**Expected Behaviour**
Add docs with following details
1. How to attach ESP chip
2. How to set up the chip
3. How to communicate with the PSLab over Wifi

**Steps to reproduce it**
N/A

**LogCat for the issue**
N/A

**Screenshots of the issue**
N/A

**Would you like to work on the issue?**
Yes

[2019-08-13 08:24] neel1998 opened #1926 "Add HTTPHandler to communicate with ESP"
**Actual Behaviour**
Currently there is no httphandler

**Expected Behaviour**
Add a httphandler like communicationHandler to control all the http communications with esp

**Steps to reproduce it**
N/A

**LogCat for the issue**
N/A

**Screenshots of the issue**
N/A

**Would you like to work on the issue?**
Yes

[2019-08-13 13:34] fcartegnie opened #1928 "Wave generator not active unless view in pressed"
no wave generator is unless you press the " view in (oscilloscope)" button

[2019-08-14 20:01] mariobehling opened #1929 "Oscilloscope: UI issues and improvements"
Please fix the following issues in the Oscilloscope UI:
* Fix cut of words on all screens in different resolutions, e.g. "Rang-e"
![Screenshot_20190814_215422_io pslab](https://user-images.githubusercontent.com/1583873/63052300-453b2800-bedf-11e9-80c9-1d508981a0ad.jpg)

* At points the bottom control bar of the phone appears without reason when some functions are used. Only show the control bar wh

[2019-08-14 20:54] neel1998 opened #1930 "Add top action bar to all landscape screens"
**Actual Behaviour**
Currently no top bar in landscape screens , i.e. wave generator, oscilloscope, logic analyzer

**Expected Behaviour**
Add top bar like other instruments

**Would you like to work on the issue?**
Yes

[2019-08-14 20:56] neel1998 opened #1931 "Remove delete log option from action bar in multimeter"
**Actual Behaviour**
Currently there is delete last log option on multimeter action bar

**Expected Behaviour**
Make action bar similar to other instruments by removing delete log option

**Would you like to work on the issue?**
Yes

[2019-08-15 05:39] #1518 closed

[2019-08-15 05:56] #1598 closed

[2019-08-15 09:28] neel1998 opened #1934 "Add option to connect over wifi/bluetooth to device screen and link to device icon to device screen"
**Actual Behaviour**
Currently option to connect over wifi/Bluetooth appears when the user clicks on usb connection logo on action bar. The top icon uses its own way.

**Expected Behaviour**
1. The top icon should link to the device screen
2. Add option to connect over wifi/bluetooth to device screen, that is linked from the navigation drawer

**Would you like to work on the issue?**
yes

[2019-08-15 10:15] mariobehling opened #1935 "Wave Generator: Simplify design and Fix issues"
The Wave Generator needs some improvements so the user can better understand how to use the instrument. As a first step please change and fix the following in both Analogue and Digital:
* Make the Wave Generator into a vertical instrument. Here is a draft:
![wavegenerator-draft](https://user-images.githubusercontent.com/1583873/63092387-e66ac280-bf61-11e9-964d-562a198c7b99.png)
* Get rid of top le

[2019-08-15 10:35] mariobehling opened #1936 "Wave Generator: Implemen Sawtooth Waves"
Implement Sawtooth Waves in the analog device. Compare info at http://onlinetonegenerator.com

Currently, there is no feature in wave generator and oscilloscope to produce sawtooth waves just like sine, triangular and square waves.

Needs some changes on firm ware side as well

**Open Issue**

[2019-08-15 10:38] mariobehling opened #1937 "Wave Generator: Add option to use phone speakers"
Add option to use phone speakers for wave generator.

[2019-08-15 10:59] mariobehling opened #1938 "Wave Generator: Add visualization of wave"
A wave visualization would be a useful tool to understand what is going on in the app. Compare to other apps on the playstore for example: https://play.google.com/store/apps/details?id=com.luxdelux.frequencygenerator
![Screenshot_20190815_125122_com luxdelux frequencygenerator](https://user-images.githubusercontent.com/1583873/63090762-93424100-bf5c-11e9-9874-ff0e7fc6a1f0.jpg)

[2019-08-15 11:53] mariobehling opened #1939 "Navigation Drawer: Change sorting, move items, fix design"
1. Please change the navigation drawer as follows:
* Instruments
* Logged Data
  * Spacer here
* Connect Device
* Generate Config File
* Settings
  * Spacer here
* About Us
* Buy PSLab -> Link to https://pslab.io/shop/
* FAQ
* Share

2. Move the following items
* Add the link "Feedback and Bugs" to About us (compare to Neurolab)

3. FAQs
* Rename from FAQs to FAQ
* Fix spacing of the actual FAQ sc

[2019-08-15 13:34] CloudyPadmal commented on #1937
#1165 could be solved in parallel

[2019-08-15 13:37] CloudyPadmal commented on #1939
While addressing the issue, remove the 4th question (save experiments)

[2019-08-16 01:13] CloudyPadmal opened #1944 "Google Play warnings"
**Actual Behaviour**

Several warnings were given by Google Play related to APIs we are using.

**Expected Behaviour**

Need to address them before they become unstable

**Steps to reproduce it**

**LogCat for the issue**

[code]

[code]

[code]

[code]

[code]

[code]

**Screenshots of the issue**

**Would you like to work on the issue?**

Issue for GSoC

[2019-08-16 04:24] #1931 closed

[2019-08-16 05:17] mariobehling opened #1945 "Oscilloscope: Add more info in Playback"
The Oscilloscope playback only shows info about the waves. There is little info about the configuration that was used. Please store and show all config of the oscilloscope as in the record (standard) mode.

**Oscilloscope Playback**
<img src="https://user-images.githubusercontent.com/32041242/63119878-c3bac700-bfbe-11e9-9c99-30099b355404.png" width = "500"/>

[2019-08-17 06:44] #1939 closed

[2019-08-17 19:19] neel1998 opened #1946 "Add action bar to Logical Analyzer"
**Actual Behaviour**
Currently no action bar in logical Analyzer

**Expected Behaviour**
Add actionbar to logical analyzer like other instruments

**Would you like to work on the issue?**
Yes

[2019-08-17 19:22] neel1998 opened #1947 "Oscilloscope main screen UI changes"
**Actual Behaviour**
Make following changes to Oscilloscope main screen UI
1. Add radion button for pslab mic and built in mic
2. Align spinners
3. add spacing between different sections
4. reduce the width of the left control panel

**Would you like to work on the issue?**
Yes

[2019-08-18 15:07] #1929 closed

[2019-08-18 15:10] #1935 closed

[2019-08-18 15:16] neel1998 commented on #1930
@CloudyPadmal @mariobehling closing this because auction bar us added to osc and robotic arm and there is separate issue for LA

[2019-08-18 15:16] #1930 closed

[2019-08-18 19:12] neel1998 opened #1950 "Add new FAQs"
**Expected Behaviour**
Add new FAQs from https://pslab.io/support/

**Would you like to work on the issue?**
Yes

[2019-08-19 08:02] #1928 closed

[2019-08-19 08:02] #1946 closed

[2019-08-19 08:03] #1926 closed

[2019-08-20 16:37] #1950 closed

[2019-08-20 16:48] #1934 closed

[2019-08-21 18:01] rajput2122 commented on #1947
sir, I want to fix this issue. can you allow me to do the changes and contribute

[2019-08-21 18:04] neel1998 commented on #1947
@rajput2122 sure. Go ahead. Ask any doubts related to code base on the bitter channel. Once the changes are done make a PR in specified format. Cheers!

[2019-08-21 18:09] rajput2122 commented on #1947
thank you sir :)

[2019-08-21 18:49] mariobehling opened #1953 "Add robotic arm screenshot with actual values and examples instead of everything 0"
The robotic arm screenshot has everything showing 0. Add robotic arm screenshot with actual values and examples instead of everything 0.

[2019-08-21 18:51] neel1998 commented on #1953
@mariobehling this can be solved by a newbie .. should I add beginner label or you want me to fix this.

[2019-08-21 18:53] mariobehling opened #1954 "Generate Config File: Cannot scroll or see channels anymore in horizontal mode"
Please show all details and make it easily scrollable in horizontal mode.

[2019-08-21 18:55] neel1998 commented on #1954
@mariobehling can you please elaborate a bit more. Thanks

[2019-08-21 19:17] mariobehling commented on #1947
@rajput2122 It it is difficult to dive into what we discussed in detail in meetings recently. Please choose an easier issue first. @neel1998 Please finalize the work you have stated in your scrum with this issue and make a PR as discussed in the last meeting. We dont have time to assign issues we discussed in detail in our meetings to others. Thanks.

[2019-08-21 19:18] neel1998 commented on #1947
@mariobehling sure will make a PR asap

[2019-08-21 23:35] rajput2122 commented on #1947
@mariobehling ok sir thanks for guidance

[2019-08-22 20:55] neel1998 opened #1956 "Wave generator main Screen UI changes"
**Expected Behaviour**
1. Add separate button for digital/analog button
2. remove wave title from bottom black layout. Indicate currently selected wave by disabling(making gray) other buttons

**Would you like to work on the issue?**
Yes

[2019-08-26 08:08] #1956 closed

[2019-08-27 11:57] #1947 closed

[2019-08-28 06:18] #1954 closed

[2019-08-28 07:15] mariobehling commented on #1953
Please also add an updated screenshot of the robotic arm screen.

[2019-08-28 07:21] neel1998 commented on #1953
@mariobehling i have added the updated screen shot of robotic arm. Please check if that screen shot is okay. So this issue can be closed. Thanks

[2019-08-28 14:03] CloudyPadmal opened #1964 "Update readme file in apk branch"
**Actual Behaviour**

APK branch readme is outdated and it's not synced with development branch docs.

**Expected Behaviour**

This readme file needs to be updated with similar content to neurolab-android repo.
- QR codes for both Fdroid and Playstore links
- Redirect links
etc

**Steps to reproduce it**

Check out https://github.com/fossasia/pslab-android/blob/apk/README.md

**LogCat for the issu

[2019-08-28 15:51] neel1998 commented on #1953
@CloudyPadmal  can we close this?

[2019-08-29 01:34] #1953 closed

[2019-08-29 08:53] neel1998 opened #1965 "Update fastlane docs and README"
**Actual Behaviour**
Currently, some of the screenshots in README and fastlane docs are outdated

**Expected Behaviour**
Make the following changes,

1. Add latest screenshots in fastlane docs and README
2. Add FOSSASIA as author in faslane
3. Update the description in the fast lane (add "This app is proudly developed at FOSSASIA Community")

**Would you like to work on the issue?**
Yes

[2019-08-29 10:04] #1938 closed

[2019-08-29 10:17] neel1998 opened #1966 "Add second and degree symbols to robotic arm timeline"
**Actual Behaviour**
Currently, no symbols to indicate the unit

**Expected Behaviour**
Add second and degree symbols to robotic arm timeline

**Would you like to work on the issue?**
Yes

[2019-08-29 10:25] CloudyPadmal opened #1967 "Add degree symbol to wavegenerator"
**Actual Behaviour**

Current UI has `deg` to indicate degrees

**Expected Behaviour**

Use correct symbol instead

**Steps to reproduce it**

Check out Wave generator UI

**LogCat for the issue**

**Screenshots of the issue**

**Would you like to work on the issue?**

Beginner issue

[2019-08-29 12:53] #1966 closed

[2019-08-30 16:40] neel1998 commented on #1936
@mariobehling this is similar to #1937  and will be solved with that issue. I think this can be closed

[2019-08-31 05:24] XDivergent commented on #1967
Can I work on this issue?

[2019-08-31 06:52] neel1998 opened #1971 "Allow user to view and play(using phone speaker) multiple waves simultaneously in Wave Generator"
**Actual Behaviour**
Currently, the user can only see or play a single wave at an instance.

**Expected Behaviour**
User should be able to see and play multiple waves together. For example, user should be able to play and view sine and triangular waves together.

**Steps to reproduce it**
Go to Wave Generator and try to view/play any wave,

**LogCat for the issue**
N/A

**Screenshots of the issue*

[2019-08-31 12:27] XDivergent commented on #1967
<img width="319" alt="Screenshot 2019-08-31 at 3 59 28 PM" src="https://user-images.githubusercontent.com/40258150/64063900-868a4200-cc18-11e9-85bd-0bf0098fa286.png">

what about space between value and symbol? shall I remove it or not?

[2019-09-01 08:01] CloudyPadmal commented on #1967
Hello @XDivergent , Let's remove the space. Once done, make a PR with the changes. Thanks.

[2019-09-01 09:20] XDivergent commented on #1967
@CloudyPadmal I remove the space between value and symbol but it would remove spaces for other symbols also like `Hz` and `%`.
So do you want to keep the spaces for other symbols or remove space for every symbol?
![Screenshot_1567329569](https://user-images.githubusercontent.com/40258150/64074367-d96f0280-ccc7-11e9-8ee4-3363dc6a0aeb.png)

[2019-09-01 15:36] CloudyPadmal commented on #1967
@XDivergent make changes only for the degree symbol

[2019-09-02 01:39] #1967 closed

[2019-09-02 01:39] #1965 closed

[2019-09-02 07:11] XDivergent commented on #1964
Can I work on this Issue?

[2019-09-02 10:31] neel1998 commented on #1964
@XDivergent sure go ahead.

[2019-09-02 17:20] XDivergent commented on #1964
Is that mean I need to delete most of the current contents and add only content similar to **neurolab-android repo** readme?

[2019-09-09 06:57] ho-dor opened #1973 "Improving the UI of generate config file activity"
**Actual Behaviour**

UI of generate config file doesn't look ordered. Lot of empty space on screen

**Expected Behaviour**

Checkboxes should be assigned, more screen space should be covered

**Steps to reproduce it**

Open Generate config file from nav bar.

**LogCat for the issue**

N/A

**Screenshots of the issue**

![Screenshot_20190909-121635_PSLab](https://user-images.githubusercontent.com/

[2019-09-10 19:05] CloudyPadmal commented on #1964
@XDivergent yes correct. You'll have to delete those outdated content and make it similar to what neurolab-android repo has.

[2019-09-10 19:06] #1937 closed

[2019-09-11 08:04] mariobehling commented on #1936
This feature can be implemented as an Android feature first as well, before we add support to the hardware itself. Some instruments (Luxmeter, Oscilloscope) are supported through components on the device itself. We can also have the Wave Generator provide a way to show features using the phone without a device.

[2019-09-11 08:13] mariobehling opened #1974 "Wave Generator: Implement option to generate waves without PSLab Device"
On the playstore we already find proprietary apps that provide a wave generator. Compare:
 https://play.google.com/store/apps/details?id=com.luxdelux.frequencygenerator
![Screenshot_20190815_125122_com luxdelux frequencygenerator](https://user-images.githubusercontent.com/1583873/63090762-93424100-bf5c-11e9-9874-ff0e7fc6a1f0.jpg)

Please add radio buttons to use either
a) the phone or
b) the PSLab

[2019-09-11 14:01] dwlsalmeida commented on #1974
Hey that seems like a nice start! I am willing to work on that as soon as I get the project to build on my machine.

[2019-09-11 14:04] ho-dor commented on #1974
I would like to work on this @mariobehling @neel1998

[2019-09-12 01:53] dwlsalmeida commented on #1974
@ho-dor hey man are you already on it? I can find something else then !

[2019-09-14 01:44] ho-dor commented on #1974
@dwlsalmeida  go ahead.

[2019-09-15 08:36] XDivergent commented on #1964
@CloudyPadmal Sir, Can I submitted PR after 20 sept. I am having exams till then.

[2019-09-19 05:46] XDivergent commented on #1964
<img width="1440" alt="Screenshot 2019-09-19 at 11 12 59 AM" src="https://user-images.githubusercontent.com/40258150/65216531-d731e400-dace-11e9-996b-42bd0aeed691.png">
@CloudyPadmal @neel1998

[2019-09-23 15:23] XDivergent commented on #1964
@fossasia/pslab-admins

[2019-09-23 18:40] CloudyPadmal commented on #1964
Hello @XDivergent looks good. Can make a PR?

[2019-09-29 09:32] kshitiz-kumar commented on #1973
anyone working on this

[2019-09-29 09:32] kshitiz-kumar commented on #1973
If not I can work.

[2019-09-30 04:20] kshitiz-kumar commented on #1973
@neel1998  I would like to work on this.Please assign this to me.

[2019-10-01 18:15] ho-dor opened #1978 "App Crashes when robotic arm degree changed through text field"
**Actual Behaviour**

App crashes when degree is changed through text field.

**Expected Behaviour**

App should not crash and degree should change.

**Steps to reproduce it**

Open robotic arm and change the degree through text field and press done.

**LogCat for the issue**

java.lang.NumberFormatException: For input string: "5°"
        at java.lang.Integer.parseInt(Integer.java:615)
        at

[2019-10-01 18:18] ho-dor opened #1979 "Not Connected toast blinking continuously unlike any other instrument in gas sensor"
**Actual Behaviour**

Toast should be shown once on opening instrument.

**Expected Behaviour**

Toast should be visible for short time.

**Steps to reproduce it**

Open Gas Sensor.

**LogCat for the issue**

N/A

**Screenshots of the issue**

![20191001_234529](https://user-images.githubusercontent.com/37077735/65988590-b93c8a00-e4a5-11e9-9313-f0cb027a0e1f.gif)

**Would you like to work on the is

[2019-10-01 18:20] ho-dor opened #1980 "SVG icon for gas sensor"
**Actual Behaviour**

No icon for gas sensor.

**Expected Behaviour**

Gas sensor should have own icon.

**Steps to reproduce it**

Open app.

**LogCat for the issue**

N/A.

**Screenshots of the issue**

N/A.

**Would you like to work on the issue?**

Yes.

[2019-10-01 20:07] #1980 closed

[2019-10-01 20:27] #1978 closed

[2019-10-02 09:05] ho-dor opened #1984 "Logged data not shown for gas sensor"
**Actual Behaviour**

No logged data shown after recording in gas sensor.

**Expected Behaviour**

Recorded data should be shown after recording.

**Steps to reproduce it**

Record data on gas sensor and open logged data.

**LogCat for the issue**

N/A

**Screenshots of the issue**

![20191002_143214](https://user-images.githubusercontent.com/37077735/66031874-e3cc2880-e521-11e9-9d68-983977b952d6.

[2019-10-02 09:41] ho-dor commented on #1945
I am working on this @CloudyPadmal @mariobehling

[2019-10-07 15:18] tusharr-98 commented on #1964
@CloudyPadmal is this issue still open?

[2019-10-08 05:11] tusharr-98 commented on #1944
@neel1998 @CloudyPadmal  can you fill me in about the expected behavior so that I can give it a try

[2019-10-11 20:17] CloudyPadmal opened #1985 "Dust Sensor"
**Actual Behaviour**

There is no instrument to use with dust sensor

**Expected Behaviour**

Implement a new instrument "Dust Sensor". Works with DSM-501a

**Steps to reproduce it**

**LogCat for the issue**

**Screenshots of the issue**

**Would you like to work on the issue?**

Yes

[2019-10-11 20:27] #1979 closed

[2019-10-18 16:29] #1973 closed

[2019-10-24 10:12] dipu989 opened #1991 "Wrong information displayed in Pin Layout Back section."
**Actual Behaviour**

Clicking on LA1 display Logical Analyzer pin 4, LA 2 - Logical Analyzer pin 3 and so on.

**Expected Behaviour**

Correct information regarding pins should be displayed.

**Steps to reproduce it**
Open the app and click on the option Pin layout Back option.

**Screenshots of the issue**
![20191024_152613-min](https://user-images.githubusercontent.com/31280303/67476017-dadbfc0

[2019-10-25 10:56] refactor-droidyy commented on #1964
Hello @CloudyPadmal can I work on this?

[2019-10-26 07:31] #1991 closed

[2019-10-27 07:21] #1964 closed

[2019-11-06 17:00] Rajchowdhury420 opened #1995 "Gradle Version Needs Update"
**Actual Behaviour**

in build.gradle file the Gradle version is 3.3.2

**Expected Behaviour**

The Gradle version needs to be Latest means 3.5.2

**Steps to reproduce it**

Edit the build.gradle file & change it's version to Latest

**LogCat for the issue**

**Screenshots of the issue**

**Would you like to work on the issue?**

Yes i will !

[2019-11-08 10:21] dev9414 opened #1997 "Darkmode"
I am submitting a feature request
Create button named dark-mode after clicking on button UI should convert into darkmode

[2019-11-09 08:52] reckoner1429 opened #1999 "Replace Toast with Snackbar"
**Actual Behaviour**

Currently brief messages at some places in the app use Toast to display brief messages to the user.

**Expected Behaviour**

According to android documentation -

[https://developer.android.com/training/snackbar/](url)

Therefore it would be better to replace the Toast with Snackbar, as it is possible that in the future the support for Toast might end.

**Steps to reproduce i

[2019-11-09 10:24] reckoner1429 opened #2000 "'Not Connected' toast message repeatedly keeps popping up in Dust Sensor"
**Actual Behaviour**

When dust sensor is not connected, the **not connected** toast message keeps popping up repeatedly.

**Expected Behaviour**

The **not connected** message must not keep flashing  before the screen just like it is in other sensors where the message is displayed only once

**Steps to reproduce it**

- Do not connected the USB device and then open the Dust Sensor

**LogCat for t

[2019-11-09 17:00] harshshinde07 opened #2001 "Navigation drawer opening closing animation is not smooth"
**Actual Behaviour**

The navigation drawer opening and closing animation is a bit laggy while opening any fragments associated with it

**Expected Behaviour**

Navigation drawer should open, close and navigate to other fragments smoothly

[2019-11-11 12:14] Darshpreet2000 commented on #1999
I want to work on this, Please assign me.

[2019-11-12 07:42] shreyansjain012 commented on #2000
Hi. Is this issue assigned to someone else? I would live to work on it

[2019-11-12 08:17] adityastic commented on #2000
@shreyansjain012 we might need input from @reckoner1429 atm

[2019-11-12 09:36] reckoner1429 commented on #2000
@shreyansjain012 and @adityastic , I also want this issue to be assigned to me, however I have not received any word from the repository maintainers.
PS - This is my first attempt at open source contributions so i am not very well aware about how long will i have to wait to receive a word from the maintainers

[2019-11-12 09:39] neel1998 commented on #2000
@reckoner1429 since you have raised the issue and also mentioned you would like to work on it there is no need for you to wait for the maintainers to assign the issue to you. You can start working on it and make the PR. Please refer to the readme for contributors and follow the best practices . Cheers.

[2019-11-12 09:40] shreyansjain012 commented on #2000
@reckoner1429 @adityastic I am new to open source I think I have the code ready which is working fine but I don't know how to proceed from here? Should I wait for someone to assign it or just submit a pull request?

[2019-11-12 09:42] neel1998 commented on #2000
@shreyansjain012 it's great that you have solved this issue but since the author of the issue already mention that he would like to work on it is not good practice to file a PR until the author says he is not gonna work on it anymore. In this case @reckoner1429 if is not going to work on this issue anymore you can file a PR

[2019-11-12 09:44] shreyansjain012 commented on #2000
@neel1998 Okay. Thanks.

[2019-11-12 09:48] reckoner1429 commented on #2000
@neel1998 Thanks a lot for the directions! I am now working on this issue.

[2019-11-12 17:04] #2000 closed

[2019-11-13 17:35] siddharth952 commented on #1971
I would like to work on this.

[2019-11-14 08:22] shreyansjain012 opened #2004 "Menu button does not works"
**Actual Behaviour**
When you click on **Menu** button nothing happens

**Expected Behaviour**
Not known

**Steps to reproduce it**
Do the following
1. Go to Navigation menu
2. Click on **Connect Device**
3. Click on **What is PSLab Device?**
4. Click on **Menu** Button on the top right corner

**Screenshots of the issue**
![WhatsApp Image 2019-11-14 at 1 34 01 PM](https://user-images.githubuserco

[2019-11-14 08:32] shreyansjain012 opened #2005 "Letters of the Spinner are corrupted"
**Actual Behaviour**
Letters in the Spinner are not properly visible in **Generate Config File**

**Expected Behaviour**
It should be readable

**Steps to reproduce it**
Go to
1. Navigation Menu
2. Click on **Generate Config File**
3. There will be a corrupted view in the spinner in front of **Time Interval**

**Screenshots of the issue**
![WhatsApp Image 2019-11-14 at 2 01 01 PM](https://user-ima

[2019-11-14 20:57] dheerajkotwani commented on #2005
I would like to work on this issue

[2019-11-15 17:49] #2005 closed

[2019-11-16 13:25] dheerajkotwani commented on #2004
@CloudyPadmal can you tell the expected behaviour on pressing the menu button there?

[2019-11-16 13:41] dheerajkotwani opened #2008 "App crash on Creating Config File"
**Actual Behaviour**
When we try to Create Config File the app crashes.

**Expected Behaviour**
Config File should be created

**Steps to reproduce it**
1.Open Generate Config File from Navigation Drawer
2.Give some value to time interval
3.Click on Create Config File

**LogCat for the issue**
`E/AndroidRuntime: FATAL EXCEPTION: main
    Process: io.pslab, PID: 20018
    java.lang.NoSuchMethodErro

[2019-11-16 15:41] dheerajkotwani commented on #2004
@shreyansjain012 this page is the webpage of site "pslab.io" in mobile view. Pressing this button in mobile web view open navigation drawer of the webpage.

[2019-11-19 05:47] kshitiz-kumar commented on #2008
Can share the ss or gif  because everything is working fine for me.

[2019-11-20 07:56] reckoner1429 opened #2009 "'Show Logged Data' menu of Dust Sensor showing logged data from other sensors as well"
**Actual Behaviour**
On Opening the *Show Logged Data* Menu of Dust Sensor, the saved logs of all the sensors are being displayed

**Expected Behaviour**
On Opening the *Show Logged Data* Menu of Dust Sensor, only the logs that belong to the Dust Sensor must be displayed.

**Steps to reproduce it**
1. Click on the Dust Sensor Option from the Main Menu
2. Click on the 'Overflow Menu' button.
3. Cli

[2019-11-20 18:26] #2001 closed

[2019-11-26 07:40] #1999 closed

[2019-11-30 17:05] fillerInk commented on #1997
I would like to work on this feature. Can someone guide me?

[2019-12-05 09:12] CloudyPadmal commented on #1997
Not necessary

[2019-12-05 09:12] #1997 closed

[2019-12-08 12:00] makoteq opened #2014 "Languages support"
##  Add additional languages
### **Would you like to work on the issue?**
**yes**

[2019-12-09 08:21] chamodperera opened #2016 "app"
**Actual Behaviour**

**Expected Behaviour**

**Steps to reproduce it**

**LogCat for the issue**

**Screenshots of the issue**

**Would you like to work on the issue?**

[2019-12-09 08:22] #2016 closed

[2019-12-09 08:30] chamodperera opened #2017 "App crashes"
### App crashes when recording oscilloscope

- **I opened oscilloscope in pslab**

![Screenshot_20191209-134848 1](https://user-images.githubusercontent.com/39716499/70419491-8c9b8480-1a8b-11ea-8c39-482ee1ebcdc9.png)

- **And I selected In-Built Mic**

![Screenshot_20191209-134827 1](https://user-images.githubusercontent.com/39716499/70419581-b94f9c00-1a8b-11ea-8459-47a359f4d8de.png)

- **when I t

[2019-12-09 17:21] aryanguls opened #2019 "Crashing of the App while using the Logged Data"
**Actual Behaviour**
On pressing the icon next to the delete option in the logged data(images provided below) the app crashes followed by complete blacking out of the phone screen.

**Steps to reproduce it**
1) Use any of the gadgets present in PSLab such as the oscilloscope or the lux meter.
2) Record the data observed by the instrument.
3) Go to the drop down menu and select the logged data opti

[2019-12-09 19:00] PicantaData opened #2020 "Alignment of "Time Interval" dropdown ;Addition of 'back' button and colour contrast of instrument screen"
1. - The drop-down in the time interval in "Generate Config File" is not properly aligned initially.
      The dropdown containing sec, min, hr and day is not properly aligned.
2. - There is no back button anywhere on the 'sensors' screen. When we open the Sensors in
       the instrument(home screen), there is no option to go back to the main menu on the UI.
3. - The color contrast of the home sc

[2019-12-11 07:28] KirillKozinets opened #2021 "Improving application localization"
![image](https://user-images.githubusercontent.com/44705397/70599846-cc47a500-1c20-11ea-9926-ee9105c28db9.png)
![image](https://user-images.githubusercontent.com/44705397/70600368-14b39280-1c22-11ea-9a50-aaa4298c4773.png)

In InstrumentsFragment there is code that opens need instrument fragments based on the name of the tool, do not consider localization. For example, if I add a multimeter transla

[2019-12-12 02:51] reckoner1429 commented on #2017
Perhaps it could be some device specific issue, I tried to reproduce the bug but didn't get any results, the built in mic recording is working fine for me. Perhaps uploading the logcat of the crash would give more insights.

[2019-12-12 05:58] mariobehling opened #2024 "Soundmeter/Sonometer"
Implement a Sonometer as an instrument. There are a number of examples of a Sonometer on the Playstore, e.g. here https://play.google.com/store/apps/details?id=app.tools.soundmeter.decibel.noisedetector. These can be used to understand the requirements.

[2019-12-12 07:08] #2021 closed

[2019-12-12 12:44] techyay opened #2026 "Create a dataset for each instrument"
The Pocket Sciencelab has many instruments now. To make the functionalities easier to understand, please implement a test for each instrument and store it in the app.

In a second step you can implement it in a way, that these test data sets cannot be deleted.

[2019-12-12 13:43] reckoner1429 commented on #2024
@mariobehling I am interested in implementing this. Should I wait for someone to assign this or just start working ?

[2019-12-12 14:42] reckoner1429 opened #2027 "clicking 'open' on the snackbar after recording data, opens logged dataset list of all sensors rather than the dataset list of that specific sensor"
**Actual Behaviour**
On clicking the 'Open' button on Snackbar after recording, opens the dataset list of all the sensors.
This issue occurs with **Power Source**, **Lux Meter**, **Accelerometer**, **Barometer**, **Compass**, **Gyroscope**, **Thermometer**, **Gas Sensor**, **Dust Sensor**

**Expected Behaviour**
On Clicking the 'Open' button on Snackbar after recording, should open the list of dat

[2019-12-14 06:48] rakesh-1601 commented on #2027
I would like to work on this issue

[2019-12-14 15:37] KirillKozinets opened #2030 "Settings tab in an application with a different language does not open"
Settings tab in an application with a different language does not open

**Would you like to work on the issue?**
Yes

[2019-12-14 16:59] #2030 closed

[2019-12-15 03:07] hyPnOtICDo0g opened #2032 "Oscilloscope: App crashes as soon as record button is clicked while using built-in mic."
**Actual Behaviour**
Oscilloscope: The app crashes as soon as the record button is clicked while using the built-in mic.

**Expected Behaviour**
The shouldn't crash when the record button is clicked, and I should be able to obtain the .csv files after recording.

**Steps to reproduce it**
• Open the app & click on the Oscilloscope.
• Switch to built-in mic & click on record button.
• The app crash

[2019-12-16 11:12] STEdirisuriya opened #2033 "Add Sinhala Translation"
**Expected Behaviour**

Add a Sinhala Translation for the app.

**Steps to reproduce it**

Update new strings.xml

**Would you like to work on the issue?**

Yes. I am working.

[2019-12-17 18:07] makoteq opened #2035 "Add rate app button"
**Actual Behaviour**
No "rate app" button 😢

**Expected Behaviour**
Add "rate app" button 😄

**Would you like to work on the issue?**
**Yes**

[2019-12-22 06:46] IzhanAli opened #2037 "Adding language - Arabic"
**Actual Behaviour**
App only has two languages

**Expected Behaviour**
Adding Arabic translation for strings.xml

**Steps to reproduce it**

strings.xml in Arabic

**Would you like to work on the issue?**
Yes

[2019-12-24 11:46] yuvrock opened #2040 "Shorten answers in FAQ."
No one will read such lengthy answers so try to shorten it for better understand in a more comprised form.
![GIF-191224_170146](https://user-images.githubusercontent.com/35378149/71411813-e47fe100-2670-11ea-9153-e522bcf6231f.gif)

[2019-12-24 11:52] yuvrock opened #2041 "Add a discussion forum."
Add a discussion forum in the app to resolve doubts and for conversations to take place between users so that they can resolve each others' problems.

[2019-12-24 11:59] yuvrock opened #2042 "Buy PSLab shouldn't direct to a site."
It would be better if when clicked on Buy PSLab, details such as price and subscription would be within the app rather than open on a website. And later for payment, it should be made through a link provided.

[2019-12-24 12:02] yuvrock opened #2043 "About Us should contain additional information."
About Us should contain additional information such as about FOSSASIA, which made this application PSLab. There should be some information about FOSSASIA so people will be curious and search for other apps by FOSSASIA in case they like PSLab. This will increase downloads of FOSSASIA's all apps and softwares along with other benefits such as gained popularity, more job applications, more downloads,

[2019-12-24 12:12] yuvrock opened #2044 "Bug that makes Not Connected pop up be displayed continuously."
A bug that makes Not Connected pop up be displayed continuously, which can be annoying and disturbing to the user and this Not Connected pop up doesn't go away until the application is closed and opened again.
![GIF-191224_173900](https://user-images.githubusercontent.com/35378149/71412647-a1c00800-2674-11ea-92aa-5409a6ac4d97.gif)

[2019-12-24 14:48] hyPnOtICDo0g opened #2045 "Wave generator: Empty .csv files"
**Actual Behaviour**
Wave generator: Empty .csv files are obtained after using the save feature.

**Expected Behaviour**
Wave generator app has to save values into the .csv file when the save feature is used.

**Steps to reproduce it**
• Open the app & click on the Wave generator.
• Click on the save button on the top right.
•  Navigate to the .csv file using a file manager.
• On opening the .csv

[2019-12-26 13:42] SAITARUN55 commented on #2043
I would like to work on this issue. Can someone please assign this to me

[2019-12-27 17:52] Low012 opened #2046 "App crashes on devices with German locale when previously recorded data is loaded"
**Actual Behaviour**

App crashes when recorded data (for example in the logic analyser) is loaded and the device is set to German locale.

**Expected Behaviour**

The app should load the data and display it without crashing.

**Steps to reproduce it**

* Set device to German locale.
* Record some data in the logic analyser screen.
* Try to load the data again.

**LogCat for the issue**

`    java

[2019-12-29 07:49] Nikhil1408 opened #2047 "Give some information about the app while it opens for the first time"
**Actual Behaviour**

**Expected Behaviour**

**Steps to reproduce it**

**LogCat for the issue**

**Screenshots of the issue**

**Would you like to work on the issue?**

[2019-12-29 15:59] TheVagabond1512 opened #2081 "App shutting down"
On my Redmi Note 4, the app keeps shutting down as soon as I switch on the inbuilt mic and the in-app recorder at the same time.

[2019-12-29 20:16] rradzzio opened #2048 "Add a language - Polish"
**Actual Behaviour**

The app does not have a Polish language

**Expected Behaviour**

Full support for one additional language - Polish

**Would you like to work on the issue?**
Yes

[2019-12-29 21:48] RishiR21 opened #2050 "Add features access for users to use the platform from any device and logged data secure."
As of right now, PSLab can be only used using certain devices. (Mostly Android Mobiles)

 Users should be able to use the platform from any device with the essential capabilities to use PSLab.

Users should be able to login using their google or facebook accounts to have access to their data if they ever feel the need to logout.

[2019-12-30 08:36] RishiR21 opened #2051 "Add Description for PSLab Android"
Actual Behavior: The PSLab Android repository doesn't have a description

Expected Behavior: Adding a description will inform developers about the PSLab Android.

Steps to reproduce it: Description of PSLab Android added to the description of the repository. (A short paragraph)

I would like to work on this issue

[2020-01-01 10:10] NishithP2004 opened #2056 "Record option not working (Wave Generator)"
**Actual Behaviour**
The record option present in the wave generator does not record the wave.
The files obtained on recording are empty and are only 35 Bytes in size .

**Expected Behaviour**
On pressing the save option,the app should record the wave and save it as .CSV file.

**Steps to reproduce it**
* Open PSLab Android App
* Select Wave Generator option
* Click the Save icon in the top right

[2020-01-02 09:41] dheerajkotwani commented on #2020
I would like to work on the issue

[2020-01-02 12:04] amit6663 commented on #2019
can i work on this issue? @aryanguls

[2020-01-02 12:06] amit6663 commented on #2008
i want to work on this issue. @dheerajkotwani , @asitava1998

[2020-01-02 12:09] amit6663 commented on #2009
@asitava1998 can i work on this issue?

[2020-01-02 12:11] amit6663 commented on #2004
can i work on this issue @shreyansjain012 ?

[2020-01-02 13:39] reckoner1429 commented on #2009
@amit6663 This issue already has a fix. [#2023 ](https://github.com/fossasia/pslab-android/pull/2023)

[2020-01-03 19:18] pranavkarthik10 opened #2059 "Add gyroscope documentation"
Currently there is no Gyroscope tutorial/documentation for users intending to use it. This could be beneficial for students and contributors alike and would make a great addition to the existent set of tutorials for other instruments.

# Are you going go to work on this?
- [x] Yes
- [ ] No

[2020-01-04 14:30] amanjn38 commented on #2042
Sir I would like to help with this issue.

[2020-01-04 14:32] amanjn38 commented on #2059
Sir I would like to solve this issue.

[2020-01-05 06:34] snitin315 opened #2060 "chore(tools): add auto_label.yml in .github"
**Actual Behaviour**
Currently we don't have the `auto_label.yml` file inside `.github` folder . Right now we have to label PR's manually.

**Expected Behaviour**
 Adding this will lead to automatic labelling of Pull Request's based on semantic labels in title.

**Would you like to work on the issue?**
Yes.

[2020-01-05 17:46] cweitat commented on #2042
A system is needed to record down the shipping information, status and issue invoice.

[2020-01-05 17:46] #2042 closed

[2020-01-07 04:49] pranavkarthik10 commented on #2059
Sorry I am closing because there is the merged PR https://github.com/fossasia/pslab-documentation/pull/57.

[2020-01-07 04:49] #2059 closed

[2020-01-07 17:59] aa200400 opened #2063 "Misaligned buttons"
**Describe the bug**

In the "Generate Config File", the buttons for instrument and time interval are misaligned and are partially cut out.

**To Reproduce**

1. Open the tabs to the right
2. Open "Generate Config File" screen
**Expected behavior**

The buttons should not be misaligned and out of place.
**Screenshots**

![Screenshot_20200107-072353](https://user-images.githubusercontent.com/541513

[2020-01-09 09:41] rakesh-1601 commented on #2056
i would like to work on this issue.

[2020-01-09 09:57] shreyansjain012 commented on #2004
Yes please go ahead @amit6663

[2020-01-09 10:00] NishithP2004 commented on #2056
Go ahead :)

On Thu, 9 Jan 2020, 3:11 pm Rakesh Pandey, <notifications@github.com> wrote:

[2020-01-09 13:55] rakesh-1601 commented on #2047
i would like to work on this issue

[2020-01-09 14:05] rakesh-1601 commented on #2063
After fix there is still some misalignment . can i work on this issue ?

[2020-01-09 17:12] angmas1 commented on #2063
Sorry, fixed with recent commit.

[2020-01-09 17:29] angmas1 commented on #2044
Unable to reproduce, please check with latest version and let me know if bug still persists.

[2020-01-09 17:32] angmas1 commented on #2041
@CloudyPadmal is this supposed to be added?

[2020-01-09 19:21] Sid911 opened #2065 "Dark Color Scheme"
## Objective
Dark color scheme or **Dark mode** for the pslab application

_**Please wait for more description**_
## Goals

- [ ] Have a perfect dark scheme setup with accent color of red
- [ ] User's Ability to change between light mode and dark mode

**Would you like to work on the issue?**

Yes I am working on this issue :)

[2020-01-10 11:15] rakesh-1601 commented on #2063
Okay :)

[2020-01-10 13:29] ankit2019j commented on #2056
can i work on this issue?

[2020-01-10 13:39] ankit2019j opened #2068 "Creating a widget which can have most used tools on the display"
**Actual Behaviour**
Currently doesn't have one

**Expected Behaviour**
A screen widget for mostly used tabs for the application.

**Screenshots of the issue**

**Would you like to work on the issue?**
 yes

[2020-01-10 13:49] NishithP2004 commented on #2056
Sure

On Fri, 10 Jan 2020, 6:59 pm Ankit Jha, <notifications@github.com> wrote:

[2020-01-11 22:16] Low012 commented on #2046
I am currently working on this issue, I will open a PR when done.

[2020-01-12 18:21] corsch opened #2070 "pslab app crashes when selecting oscilloscope"
HUAWEI MediaPad M5 Lite

Model BAH2-W19
Build BAH2-W19 8.0.0.238(OCEC432)
Android Version 8.0.0

App Version 2.0.20
Play Store version

**Actual Behaviour**

pslab app crashes when selecting the Oscillosope

**Expected Behaviour**

Show the Oscilloscope

**Steps to reproduce it**

1. open pslab app
2. Select oscilloscope
3. app crashes

**LogCat for the issue**
--------- beginning of crash
01-12 1

[2020-01-13 11:34] juniorjainsahab opened #2071 "Add limit in input value"
cc: @cweitat @CloudyPadmal @mariobehling

**Actual Behaviour**
In Robotic Arm Screen, the User can input as large value as they can in servo sections, Which causes the value out of its view bounds.

**Expected Behaviour**
Users should not be allowed to input more than 360.

**Steps to reproduce it**

- Open the Application.
- Navigate to a Robotic-arm screen.
- Enter large values like "338439483"

[2020-01-13 15:48] 991rajat commented on #2071
Yes, I would like to work on the issue.

[2020-01-13 18:30] juniorjainsahab commented on #2071
@991rajat I have raised the issue and i am waiting for maintainers to approve this so I can start working on this. I have already stated that I am interested to work on this issue. @CloudyPadmal  @cweitat could you please do something in this issue?

[2020-01-13 19:11] 991rajat commented on #2071
@juniorjainsahab Sorry I didn't know that. I thought you opened the issue publicly. I will close my PR. Sorry for this

[2020-01-14 07:21] juniorjainsahab commented on #2071
@991rajat make it close once maintainers approve this issue I will start work on this.

[2020-01-14 17:42] Sid911 commented on #2071
what if the user wants to make the servo do multiple loops 😕... it may be that .. the robotic arm's specific servo is being used for different purpose

[2020-01-14 18:03] juniorjainsahab commented on #2071
hey @Sid911
As you can see the blue circular button to set value in the servo section it is limited to 360 as you can also see it in the image. Hence, It should be the same when you entering the value manually.

![WhatsApp Image 2020-01-14 at 11 28 59 PM](https://user-images.githubusercontent.com/21375373/72369317-dd0a9f80-3725-11ea-9b71-53f53bfd2c4a.jpeg)

[2020-01-15 11:00] #2037 closed

[2020-01-15 11:55] aryanguls opened #2076 "Requirement for New Ways To Set PSLab Android Project"
**Actual Behaviour**
As of now the official README.md only contains one single method to set the project and build the PSLab project on Android Studio.

**Expected Behaviour**
There should be multiple ways to setup the project so that the conditions of all users are covered as what might work for one user might not always work for another one.

**Steps to reproduce it**
1) Open The FOSSASIA PSLab-

[2020-01-15 19:17] #2071 closed

[2020-01-15 19:24] #2009 closed

[2020-01-16 00:22] pranavkarthik10 opened #2078 "Add Language - Indonesian"
**Actual Behaviour**
The app currently does not support the Indonesian language.

**Expected Behaviour**
We should add this as an option for many users who know this language.

**Would you like to work on the issue?**

- [x] Yes

[2020-01-17 05:04] Sid911 commented on #2065
![image](https://user-images.githubusercontent.com/27860105/72585562-94650900-3914-11ea-99f0-41861e3a74ff.png)
![image](https://user-images.githubusercontent.com/27860105/72585564-962ecc80-3914-11ea-8e94-bdeabfd0f667.png)
![image](https://user-images.githubusercontent.com/27860105/72585567-975ff980-3914-11ea-93b5-5bdb68955324.png)

I know I might have flipped the colors of the action bar and the b

[2020-01-17 05:05] Sid911 commented on #2065
@mariobehling @fcartegnie @cweitat @adityastic It would be nice to have opnion .. on the color scheme 😇

[2020-01-17 08:36] Sid911 commented on #2065
Also the dark theme switches with system settings..

[2020-01-17 10:04] hoangdatngo commented on #2065
@Sid911 LGTM

[2020-01-17 10:08] Sid911 commented on #2065
@hoangdatngo Thanks 😇

[2020-01-17 11:30] #2027 closed

[2020-01-17 11:51] mariobehling commented on #2065
Currently out of scope as we have more basic things on the list. Therefore closing it.

[2020-01-17 11:51] #2065 closed

[2020-01-17 12:09] #2004 closed

[2020-01-17 13:45] ho-dor commented on #2081
@TheVagabond1512 can you please share the logcat of this crash

[2020-01-17 13:55] ho-dor commented on #2032
Can you share the logcat please @hyPnOtiC-d00g

[2020-01-17 14:00] ho-dor commented on #2032
I am unable to reproduce this error @CloudyPadmal this is same as #2081. Working fine on my device.

[2020-01-17 14:02] ho-dor commented on #2019
Unable to produce this crash @CloudyPadmal please verify or else we can close this

[2020-01-17 14:03] ho-dor commented on #2017
Same as #2081. @CloudyPadmal please verify or we can close this.

[2020-01-17 14:05] ho-dor commented on #2008
Unable to produce this crash. @CloudyPadmal can you verify or this can be closed.

[2020-01-18 05:03] amit6663 commented on #2048
can i work on this issue? @rradzzio , @ho-dor

[2020-01-18 05:04] amit6663 commented on #2035
can i work on this issue? @makoteq

[2020-01-18 05:13] ho-dor commented on #2048
Sure

[2020-01-18 13:03] CloudyPadmal commented on #2032
I see. @ho-dor may be it's some permission issue in microphone? :thinking:

Sadly we can't expect community to share logcats. Unless they "Report" it, we could see it from Google Play console. (Couldn't see any as noone has "Report"ed it yet) Let's ask to report it.

[2020-01-18 13:04] CloudyPadmal commented on #2081
Hello @TheVagabond1512 , could you please report when the dialog shows when the app crashes so that we can investigate more into this issue.. Thanks.

[2020-01-18 13:05] CloudyPadmal commented on #2081
Similar issue raised #2032

[2020-01-18 13:05] #2081 closed

[2020-01-18 13:05] CloudyPadmal commented on #2017
Similar issue raised #2032

[2020-01-18 13:05] #2017 closed

[2020-01-18 13:09] #2020 closed

[2020-01-18 13:11] CloudyPadmal commented on #2019
Hello @aryanguls , can you please report the issue when the dialog shows when the app is crashed? It would help us see what's causing the issue. Thanks.

[2020-01-18 13:17] CloudyPadmal commented on #2048
Hello @amit6663 , unless you're a native Polish speaker, or know the language very well, I would suggest not to attempt different language translations from Google translate

[2020-01-18 13:21] CloudyPadmal commented on #2035
Fixed by #2036

[2020-01-18 13:21] #2035 closed

[2020-01-18 15:49] 991rajat opened #2082 "bug: Accelerometer recording not stop"
**Summary**
Can't able to stop Accelerometer recording.
But logs of recording are available.

**Steps to reproduce it**
Accelerometer > Start Rec > Stop Rec(Not able to stop)

**Screenshots of the issue**
![GIF-200118_201329](https://user-images.githubusercontent.com/38184186/72666356-59a7c180-3a37-11ea-8fb3-8f939bd1dbf3.gif)

**Device**
Moto E2
Android 7.1.2

**Would you like to work on the issue

[2020-01-18 15:55] 991rajat commented on #2082
@juniorjainsahab

[2020-01-19 03:39] amit6663 commented on #2048
ok

[2020-01-19 21:53] Sid911 opened #2083 "bug: About page keeps Shifting theme which leads to crashes in android 9 and 10"
**Actual Behaviour**

Currently the application's About page randomly keeps shifting themes in android 9 and 10 *(maybe also 8 but I couldn't verify this)* when system theme is set to dark and application is switched and also causes crashes in the case of my android 10 testings.

![Screenshot_20200117-185105](https://user-images.githubusercontent.com/27860105/72688945-331a8100-3b32-11ea-9f37-e0a07

[2020-01-20 09:24] #2014 closed

[2020-01-20 10:15] dheerajkotwani opened #2086 "No effect is present on click any card on Dashboard"
**Actual Behaviour**
When we click on any card on the Dashboard there is no effect or animation to confirm the touch event.

**Expected Behaviour**
On clicking any card on Dashboard a Ripple effect should be there to confirm the touch event on card

**Steps to reproduce it**
Open the PS Lab App.
Click onany card present on the dashboard.

**Screenshots of the issue**
![pslab_ripple_issue](https://

[2020-01-20 16:11] ho-dor commented on #2082
@991rajat works fine on my device.

[2020-01-20 16:28] kumuditha-udayanga commented on #2033
May I work on this issue?

[2020-01-21 09:38] 991rajat commented on #2082
@ho-dor  I don't know why it is not working in my device.I thought maybe it's a bug.

[2020-01-21 11:11] dheerajkotwani opened #2088 "No click effect on clicking list item of logged data"
**Actual Behaviour**
There is no ripple effect or any click effect on clicking list item or clicking delete item on the list item on logged data

**Expected Behaviour**
There must be a ripple effect on the list item and delete item when they are pressed.

**Steps to reproduce it**
Open the logged data for any of the device
Click on the list item or on Delete button of the list item.

**Screenshots

[2020-01-22 00:16] #2033 closed

[2020-01-22 00:19] #2086 closed

[2020-01-22 08:20] dheerajkotwani opened #2092 "bug: Map icon in Accelerometer logged data"
**Actual Behaviour**
Nothing happens on clicking the map icon in Accelerometer logged data

**Expected Behaviour**
When clicking on map icon it should display the location data for the log(When location data is present).

**Steps to reproduce it**
Open the logged data for the Accelerometer instrument
Click on the map icon on logged data list item

**LogCat for the issue**
Nothing in the log

**Scr

[2020-01-22 09:05] dheerajkotwani commented on #2070
@corsch Working fine for me.
![osilloscope](https://user-images.githubusercontent.com/44086235/72880058-2cebf680-3d24-11ea-8452-824dd1120da5.gif)

[2020-01-22 09:14] dheerajkotwani commented on #2032
The Issue is there.
Clicking on use in-built mic and then start recording.
**Permission for mic given to the app**

**LogCat**
`E/AndroidRuntime: FATAL EXCEPTION: AsyncTask #4
    Process: io.pslab, PID: 8223
    java.lang.RuntimeException: An error occurred while executing doInBackground()
        at android.os.AsyncTask$3.done(AsyncTask.java:318)
        at java.util.concurrent.FutureTask.finish

[2020-01-22 14:41] #2082 closed

[2020-01-22 22:34] corsch commented on #2070
My Nexus 5x works fine too. ;)

BUT the app is still crashing on my HUAWEI MediaPad M5 Lite.

[2020-01-26 05:07] dheerajkotwani opened #2093 "bug: Recording start even when device not connected"
**Actual Behaviour**
Recording can be started even if the device is not connected to mobile or mobile does not have inbuilt feature support

**Expected Behaviour**
If any device is not connected then for that device recording should not start

**Steps to reproduce it**
Open any device which is not connected or whose sensor are not present in mobile(Gas Sensor)
Click on Record button
See the error

[2020-01-28 20:53] Low012 commented on #2032
String.join was added with API level 26. The min API level of the app is set to 23. I can reproduce the issue on a device with Android 7.1 (API level 25).

I can work on this issue.

[2020-01-29 22:22] 991rajat opened #2095 "feat: add developer section in about"
### Feature
**Add Developer Section in About Us page.**

**Would you like to work on the issue?**
YES

[2020-02-01 15:40] mariobehling opened #2097 "Sensor tab screen black"
There is black screen on sensor

![Screenshot_20200201_163806_io pslab](https://user-images.githubusercontent.com/1583873/73594753-823cba80-4511-11ea-9080-98b81794e62f.jpg)

[2020-02-01 15:45] mariobehling opened #2098 "Bmp180"
**Actual Behaviour**
Doesn't read temp (readout stays at 0)

[2020-02-03 12:36] mariobehling opened #2099 "Oscilloscope: Range does not change, when option is chosen"
The Oscilloscope has the option to change the range, e.g. of the Voltage display. This is currently not working. There is no visual change in the app if the user changes the range.

* Th setting sensitivity doesn't work, it is always +-16V

![Screenshot_20200203_133437_io pslab](https://user-images.githubusercontent.com/1583873/73653770-555fe300-468a-11ea-82da-7c418ab6a2df.jpg)

[2020-02-03 13:46] mariobehling opened #2100 "Wave Generator: triangle wave is not triangular, but cut off"
Wave Generator: This issue was reported by several users. The Triangle wave is not as it is supposed to be. The triangle wave is not triangular, but cut off.

[2020-02-03 13:47] mariobehling opened #2101 "Oscilloscope: Trigger CH1 actually works on CH2"
Oscilloscope: Trigger CH1 actually works on CH2.

[2020-02-03 13:54] mariobehling commented on #2093
Expected behavior would be a pop up "Please connect a device or choose an phone sensor (if available)" and two buttons "Configure Active Sensor" and "Cancel".

[2020-02-03 13:55] mariobehling commented on #2093
In sensors that are usually present on the phone the recording should work nevertheless.

[2020-02-03 17:57] 991rajat commented on #2099
Works fine on my device.
![GIF-200203_232341](https://user-images.githubusercontent.com/38184186/73677543-7fda8c00-46dc-11ea-8e94-5fd12bd7923f.gif)

[2020-02-04 08:26] Low012 commented on #2100
I think this is the same issue as https://github.com/fossasia/pslab-hardware/issues/111 which I opened in the hardware repo since I assumed it to be a hardware issue.

[2020-02-04 16:15] #2076 closed

[2020-02-04 16:16] #2095 closed

[2020-02-04 16:16] #2048 closed

[2020-02-04 19:02] Low012 commented on #2099
It works if the channel is selected (check mark is set). It does not work if the channel is not selected.

If the expected behaviour is that the range can only be changed if the channel is selected I would expect the range selection to be disabled if the channel is not selected. This would provide a visual hint to the user.

Also the range does not change if:
1. the channel is not selected
1. a di

[2020-02-04 19:04] Low012 commented on #2008
It crashes on devices with API level 25 and below.

[2020-02-04 19:22] #2046 closed

[2020-02-05 07:53] 991rajat commented on #2099
Still in my device.
If the channel is not selected -> changing range changes the graph.
If the channel is selected -> changing range changes the graph.
I'm not able to get it what bug is.

[2020-02-06 10:42] Low012 commented on #2099
It may depend on the Android API level.

It works as pictured by @991rajat on my device with Android 9, but if I use my test device with Android 7 I get the behaviour as described by @mariobehling.

[2020-02-09 20:25] 991rajat commented on #2099
@Low012, Yaa not able to reproduce.

[2020-02-18 16:31] hayleyshim opened #2106 "How to input new graph instread of Plot2D View?"
Hello,

I would like to change Plot2D.java source code.

In this code, 'Class' is implemented 'extends view'.

But, I would like to plot my data with MpAndroidChart.

Could you explain how to plot my data in Plot2D source code?

![image](https://user-images.githubusercontent.com/8789789/74756235-9590a980-52b7-11ea-90b6-be7bba19efd2.png)

[2020-02-19 02:59] reckoner1429 commented on #2106
Hi @hayleyshim, It would be better if you could kindly use the gitter channel for the queries. You can delete this issue hence.
And if you want to raise an issue then there is an specific format for that, it would be helpful for others if you use that format.

Here is the link for gitter channel
[https://gitter.im/fossasia/pslab](url)

I might be able to answer your question there

[2020-02-19 04:11] reckoner1429 opened #2108 "Use Interface Callbacks to reduce Coupling between Activity and Fragments and reduce the lines of code"
**Actual Behaviour**
`PsLabSensor` directly calls methods from fragments such as `LuxMeterDataFragment,` `SoundMeterFragment` etc, which increases coupling and also increases lines of codes in the `onOptionItemSelected()` method of `PsLabSensor`. In addition it increases chances of introducing bugs when new sensors are implemented.

**Expected Behaviour**
**Interface callbacks** can be used to red

[2020-02-19 05:47] hayleyshim opened #2109 "How to input new graph instread of Plot2D View?"
Hello,

I would like to change Plot2D.java source code.

In this code, 'Class' is implemented 'extends view'.

But, I would like to plot my data with MpAndroidChart.

Could you explain how to plot my data in Plot2D source code?

![image](https://user-images.githubusercontent.com/8789789/74805540-b6dcae80-5326-11ea-89ab-472ada98e8a8.png)

[2020-02-19 05:48] #2106 closed

[2020-02-19 05:48] #2109 closed

[2020-02-25 13:51] #2097 closed

[2020-04-23 09:42] #2008 closed

[2020-04-23 09:42] #2032 closed

[2020-04-23 09:43] #2088 closed

[2020-04-23 09:52] #2078 closed

[2020-04-23 09:59] cweitat commented on #2063
Fixed by another PR

[2020-04-23 09:59] #2063 closed

[2020-04-23 10:01] #2040 closed

[2020-04-23 10:01] #2041 closed

[2020-04-23 10:01] #2043 closed

[2020-04-23 10:02] cweitat commented on #2019
No response, assume is working. Reopen if problem still persists

[2020-04-23 10:02] #2019 closed

[2020-05-07 10:25] DARK-art108 commented on #1925
Can I work on this issue?

[2020-05-07 20:58] adityastic commented on #1925
Go ahead

[2020-05-08 06:46] DARK-art108 commented on #1925
The above docs should be added in Pocket science Lab documentation Repo under tutorials section?

[2020-05-14 07:27] VIKAS9899 commented on #2108
I want to work on this issue, Please assign it to @VIKAS9899

[2020-05-14 07:45] adityastic commented on #2108
@VIKAS9899 go ahead

[2020-05-14 15:14] VIKAS9899 commented on #1984
Want to work on this issue, please assign it to VIKAS@9899

[2020-05-16 09:33] #2060 closed

[2020-05-16 09:34] #2051 closed

[2020-05-16 09:37] #1995 closed

[2020-05-16 09:39] CloudyPadmal commented on #1984
@VIKAS9899 you can go ahead with a fix :+1:

[2020-05-16 09:45] #2047 closed

[2020-05-16 09:47] #2044 closed

[2020-05-16 09:50] #2024 closed

[2020-05-16 20:17] #2108 closed

[2020-05-22 14:43] cweitat commented on #991
Duplicate of #993

[2020-05-22 14:43] #991 closed

[2020-06-10 20:40] Low012 opened #2116 "Mainscreen: Tiles disappear"
**Actual Behaviour**

The tiles in the main screen disappear under certain circumstances.

**Expected Behaviour**

The tiles should always be visible in the main screen.

**Steps to reproduce it**

1. Open app
1. Tap on "Wave Generator"
1. Tap on "Produce Sound" button until text on button changes to "Stop Sound" (I need to tap twice on my device)
1. Tap on Android back button or on arrow in the A

[2020-06-10 20:48] Low012 opened #2117 "Mainscreen: Layout issues on tablets"
**Actual Behaviour**

Part of the menu on the left side is hidden, circle around logo has visible pixels on my device (Lenovo Yoga Smart Tab).

**Expected Behaviour**

No parts of the layout should be hidden (logo, PsLab status), no single pixels should be visible.

**Steps to reproduce it**

Open the app on a Lenovo Yoga Smart Tab (maybe any tablet)

**Screenshots of the issue**

![Screenshot_202

[2020-06-10 20:54] Low012 opened #2118 "Multimeter: Layout looks weird on tablet devices"
**Actual Behaviour**

The multimeter looks weird on tablet devices, the measured value is partly hidden.

**Expected Behaviour**

The layout should look more pleasing (larger knob or a margin around the whole multimeter) and the value should be completely visible.

**Steps to reproduce it**

1. Start app on tablet device
1. Select multimeter

**Screenshots of the issue**

![Screenshot_20200610-224

[2020-06-10 21:09] Low012 opened #2119 "Request: Horizontal layouts for all screens"
**Actual Behaviour**

At the moment not all screens have an extra layout for horizontal (landscape) orientation. Instead the screens are displayed in vertical (portrait) orientation, no matter of the orientation of the device.

**Expected Behaviour**

It would be really nice to have horizontal layouts for all screens in order to improve user experience for devices which can be placed on a table in

[2020-06-15 22:00] Low012 commented on #2116
The AsyncTask in InstrumentsFragment seems to not be executed in the error case described above. This may or may not be related to the AsyncTask in WaveGeneratorActivity.

AsyncTask will be deprecated in API level 30 (Android 11). AsyncTask has always been a pain to use and caused all kinds of problems. Maybe it would be a good idea to get rid of it where possible.

[2020-06-24 09:42] Hyper-Matrix commented on #2119
i would like to work on this issue

[2020-06-29 15:33] xanmolx commented on #2118
I am unable to reproduce the issue.
![Screenshot_1593444674](https://user-images.githubusercontent.com/23299222/86025411-c7770100-ba4b-11ea-819a-02ef42653303.png)

This is the screenshot on a tablet emulator device
Device:- Pixel C
Android Version:- 10

[2020-07-08 21:38] Low012 commented on #2118
My device:

Device: Lenovo Yoga Smart Tab
Android Version: 9

[2020-07-12 19:37] sanchi0204 commented on #2119
Is this issue available to work?
@Hyper-Matrix can you tell if you are working on this issue or not?

[2020-07-13 19:30] Hyper-Matrix commented on #2119
No...since so one confirmed it...i haven't started it yet.

[2020-07-22 04:53] #2070 closed

[2020-07-30 14:05] saketsingh0078 commented on #2117
yes , i want to work on this issue

[2020-08-27 04:48] devashishpurohit commented on #2068
hey are you still working on this??

[2020-09-02 15:12] CodeWithSouma opened #2126 "Faq section expandable list view not working"
## Faq section expandable list view not working when click on a question then the app was crash

### Expected Behaviour
It should show answer of that question

### Screenshots of the issue

<pre><img src = "https://user-images.githubusercontent.com/38830139/91998200-8efbe800-ed58-11ea-835b-12fcc50adb33.png" width="200"/> <img src = "https://user-images.githubusercontent.com/38830139/91999851-7c82a

[2020-09-13 18:43] ritmojs commented on #2126
I want to work on this issue

[2020-09-13 18:54] CodeWithSouma commented on #2126
I already **fixed** it. and send **PR** #2127

[2020-09-26 06:47] Ananyaas commented on #2068
hey may I work on this issue?

[2020-09-26 06:49] Ananyaas commented on #2056
hey ! if this issue is still open ,may I work on this issue?

[2020-09-28 10:45] NishithP2004 commented on #2056
Sorry for the late reply, You may proceed with this issue. :)

[2020-09-30 20:27] Anu-123-gif commented on #2119
@Low012 can I work on this issue?

[2020-10-01 08:07] Low012 commented on #2119
I'd love to see this issue taken care of and I am not working on it since I am not very good at layouts. I am not a maintainer of this project, but I'd say go for it!

[2020-10-01 11:09] Girish-Bharadwaj commented on #2118
Hey I would like to solve this issue and try my best

[2020-10-01 14:51] nileshteji commented on #2116
@Low012  I tried to reproduce your error but Bug was never seen .Can you tell more about the Device which you were using .Thank You

[2020-10-01 15:20] nileshteji commented on #2092
I am working on this issue .Thank You

[2020-10-01 18:18] Low012 commented on #2116
I was able to reproduce the issue with:

- Fairphone 2 (LineageOS 17.1)
- Moto X Play (Android 7.1.1)
- Lenovo Yoga Smart Tab (Android 9)

I could make a video if that helps, just let me know. It could take a few days though.

[2020-10-01 19:38] nileshteji commented on #2116
You can upload all the videos of each device on a google drive which would be of great help. I will be waiting for the link. Thank you again @Low012

[2020-10-02 07:55] #1984 closed

[2020-10-02 08:02] #2092 closed

[2020-10-02 13:51] Low012 commented on #2116
I have uploaded the videos to https://drive.google.com/drive/folders/10BubwXAjHLAjVP75cFxwg-YbBPRx6AdM

I am using version 2.0.20 of the app on all devices, Play Store flavor on Moto X Play, Fdroid flavor on Fairphone 2 and Lenovo Yoga Smart Tab.

[2020-10-02 16:08] vaibhavsardar opened #2131 "rating and sharing features"

[2020-10-02 18:11] nileshteji commented on #2116
Thank you @Low012 I will be working on this issue.

[2020-10-02 18:34] CloudyPadmal commented on #2131
?

[2020-10-02 18:34] #2131 closed

[2020-10-02 20:21] Low012 commented on #2116
@nileshteji, thank you for your changes and for your pull request. Unfortunately GitHub does not let me comment the pull request at the moment, that's why I am replying here.

I can confirm that the APK you provided fixes the problem for me.

[2020-10-03 10:03] #2116 closed

[2020-10-05 14:34] nileshteji commented on #2126
@CodeWithSouma  the pr you mentioned is not mergest . Are you still working on this issue?Thank you

[2020-10-05 14:59] bessman opened #2133 "Update pin names"
Change all instances of

ID1/2/3/4 -> LA1/2/3/4
SEN -> RES
AN8 -> VOL
CNTR -> FRQ
W1/2 -> SI1/2

[2020-10-05 15:05] CodeWithSouma commented on #2126
Yes i am woking on this issue

[2020-10-06 10:51] CodeWithSouma commented on #2133
I don't  under stand where to change this instances....do you want to change these in string file ???

[2020-10-06 11:04] bessman commented on #2133
Everywhere throughout the code. The old pin names were used in a previous hardware revision. For example, the pins called ID1, ID2, ID3, and ID4 in the code should be changed to LA1, LA2, LA3, and LA4 to reflect the current hardware.

This command should do the trick:
[code]
Repeat for all above-mentioned strings.

[2020-10-06 12:45] CodeWithSouma commented on #2133
sir can you tell me how to use this command to find reference .....i don't  use this command before please help me i want to work on this issue

[2020-10-07 08:26] CloudyPadmal opened #2136 "Thermometer wheel not restoring back its color when temperature changes"
**Actual Behaviour**

In Thermometer instrument, once the speed wheel goes beyond 80, it turns red. This is intended. But when the temperature drops below, the wheel still keeps on red.

**Expected Behaviour**

There should be a threshold temperature (50 degree C) prior to that the wheel should show no color change. If it's above 50, then only the wheel should be red.

**Steps to reproduce it**

(

[2020-10-07 08:47] #2118 closed

[2020-10-12 06:29] #2119 closed

[2020-10-12 08:30] CloudyPadmal commented on #2136
Fixed in #2137

[2020-10-12 08:30] #2136 closed

[2020-10-12 08:32] CloudyPadmal commented on #2117
Fixed by #2134

[2020-10-12 08:32] #2117 closed

[2020-10-12 12:01] #2133 closed

[2020-10-12 15:30] #2126 closed

[2020-10-17 18:06] CodeWithSouma opened #2139 "multimeter layout issue in 5.5 inch mobile"
**In 5.5 inch (i use mi note3) or above layout look like this**

![20201017_132838](https://user-images.githubusercontent.com/38830139/96350058-2af76e00-10d1-11eb-994e-267dd9624653.gif)

**Steps to reproduce it**
I thing After merge this  #2129  PR layout breaks

[2020-10-19 08:17] CodeWithSouma commented on #2101
@mariobehling  sir, please help me how to fix this problem I want to work on this issue.

[2020-11-27 08:17] CloudyPadmal opened #2144 "MPU6050 and RTC share the same I2C address"
This is just a boilerplate issue where the issue mentioned in the title is recorded for reference. We may have to document that the MPU6050 address has to be changed by setting A0 pin high to have a different address as the RTC module is inbuilt with PSLab hardware device.

[2020-11-28 09:37] hariom9522 commented on #2098
i want to c ontribute to this project.please assign me

[2020-11-28 13:55] hariom9522 commented on #2050
sir please assign this projec to me

[2020-11-28 14:16] hariom9522 commented on #1925
can i work on this issue

[2020-11-30 05:47] limitless-Sky commented on #1925
@neel1998 can I work on this issues?

[2020-12-07 14:02] AtigPurohit commented on #1925
can i work on this issue?

[2020-12-07 14:04] AtigPurohit opened #2145 "App crashing on Android 8.0"
<img width="249" alt="Screenshot 2020-12-07 193415" src="https://user-images.githubusercontent.com/64990546/101360120-3b52ea80-38c3-11eb-9579-71fb70a08421.png">
**Actual Behaviour**

**Expected Behaviour**

**Steps to reproduce it**

**LogCat for the issue**

**Screenshots of the issue**

**Would you like to work on the issue?**

[2020-12-07 17:36] CodeWithSouma opened #2146 "Accelerometer and gyroscope bottom margin issue"
**Actual Behaviour**
**Check both of these image and spacialy check bottom margin. Bottom margin is missing**
<pre>
<img src="https://user-images.githubusercontent.com/38830139/101383544-4ae02c80-38df-11eb-8c6e-3ede83cfba9d.png" height="500px" width="350px"/> <img src="https://user-images.githubusercontent.com/38830139/101383962-d78aea80-38df-11eb-991b-6e7b27f5f1b4.png" height="500px" width="350px

[2020-12-07 17:53] mariobehling opened #2148 "Substitute Travis with Github Actions"
Please change from Travis to Github Actions.
* Ensure automatic builds work
* Change the badges to Github Action badges

[2020-12-07 18:10] #2139 closed

[2020-12-08 07:43] CodeWithSouma commented on #2148
@mariobehling sir, I want to work on this issue, please help me how to fix this problem

[2020-12-10 18:00] #2146 closed

[2020-12-14 14:46] CodeWithSouma commented on #2145
can you tell me when it crash

[2020-12-14 17:02] AtigPurohit commented on #2145
@CodeWithSouma  the app is not opening itself, I gave the screen shot

[2020-12-14 18:26] CodeWithSouma commented on #2145
I don't find any issue it runs smoothly on my device. I think you are using an emulator. Try to run on a physical device.

[2020-12-15 08:00] #2145 closed

[2021-01-03 12:10] SpandanBasu commented on #2093
I am a beginner. I want to work on this issue please assign me

[2021-01-03 14:44] SpandanBasu commented on #2093
When the sensor is not present and the user clicks on the recording button, A pop-up dialog comes..right..but on pressing on Configure active sensor where should the app take the user?

[2021-01-04 17:02] anurag0singh commented on #2148
I have participated in codeheat. Can I work on this issue ?

[2021-01-05 06:12] anurag0singh commented on #1944
@CloudyPadmal I can try to make a pre-launch report by using the google play console and android studio and by making a Robo script. Can I work on this?

[2021-01-05 14:46] sambhavsaxena commented on #2093
Please assign this issue to me

[2021-01-05 16:59] SpandanBasu commented on #2093
This issue is already fixed i opened a pull request. Try a different issue. Thanks

[2021-01-09 20:46] CodeWithSouma opened #2157 "Add app bar and back button in all sensor activity and add missing MPU925X sensor in sensor list index"
**Actual Behaviour**

1. Please check sensor activity and all sensors don't have the app bar and back button.
2. When we click the auto-scan button then in sensors list MPU925X missing

**Expected Behaviour**

1. For the first problem: - All the instruments of our app have the app bar so I think this is very useful for navigating.
2. For the second problem:-   When we click the auto-scan button th

[2021-01-13 09:06] asaikarthikeya opened #2159 "Wrong item selected in Navigation drawer after returning from playstore ."
**Actual Behaviour**
 When we return back to the app  after we rate in playstore FAQ's are displayed but the navgation drawer has "Buy PSLab" as selected item.

![Screenshot from 2021-01-13 14-32-04](https://user-images.githubusercontent.com/70392921/104430012-352fe800-55ac-11eb-8283-32090be1e08b.png)

https://user-images.githubusercontent.com/70392921/104429952-29442600-55ac-11eb-8eda-f955cf94b33

[2021-01-13 21:54] mariobehling opened #2162 "Remove background location access or document in a video why it is needed"
According to Google the app requires background location access, which is maybe not needed. Google states:

If the feature is needed we need to explain to Google why and where it is needed and get approval by explaining it and making a video as follows.

•If your app has multiple features that use background location, choose the one that provides the most user benefit. Describe in detail why backg

[2021-01-14 08:13] anmol-Git opened #2163 "No way to delete the plants in "My Garden""

[2021-01-14 08:14] #2163 closed

[2021-01-14 11:10] KushMehta1511 opened #2164 "Spelling mistake in Guide of Oscilloscope"
**Actual Behaviour**

In the data analysis section of the help guide of Oscilloscope the spelling of "Transform" is mentioned incorrectly. It is mentioned as "Transfromed".

**Expected Behaviour**

The spelling should be "Transformed".

**Screenshots of the issue**
![image](https://user-images.githubusercontent.com/65716045/104583173-d55a3f80-5686-11eb-95d6-f10941482643.png)

**Would you like to w

[2021-01-15 07:00] #2159 closed

[2021-01-15 08:48] asaikarthikeya opened #2166 "Selected item and displayed item differ in Navigation drawer"
**Actual Behaviour**
1) When we return back to the app  after we rate in playstore FAQ's are displayed but the navigation drawer has "Buy PSLab" as selected item.

![Screenshot from 2021-01-13 14-32-04](https://user-images.githubusercontent.com/70392921/104430012-352fe800-55ac-11eb-8283-32090be1e08b.png)

https://user-images.githubusercontent.com/70392921/104429952-29442600-55ac-11eb-8eda-f955cf94

[2021-01-17 04:23] KushMehta1511 opened #2168 "Toast Showing "nothing to delete" upon logged data deletion for some devices"
**Actual Behaviour**

Upon deletion of a logged data, the toast message should show "Log Deleted" but for some devices like Oscilloscope, it is showing "Nothing to delete" upon deletion of a log.

**Expected Behaviour**

The toast message should show "Log Deleted".

**Steps to reproduce it**

Go to the oscilloscope device. Start and stop the recording. Then go to Show Logged Data in Oscilloscope a

[2021-01-18 09:57] #2168 closed

[2021-01-20 05:27] KushMehta1511 opened #2172 "Showing "Delete All Data" item menu even after all logs are deleted."
**Actual Behaviour**

When we have deleted all the logs individually then also the menu item is showing "Delete All Data" option.

**Expected Behaviour**

Upon deletion of all the logs, the "Delete All Data" menu option should not be visible.

**Steps to reproduce it**

Create a log. Go to show logged data tab and delete the log using the delete icon. Open the items menu button. "Delete all Data"

[2021-01-20 07:23] asaikarthikeya commented on #2172
@KushMehta1511  Sure bro. What was your progress till now on this issue?

[2021-01-20 07:34] arpoch opened #2173 "Oscilloscope: After selecting PSLab MIC, In-Built-MIC does not work when PSLab device is not connected"
**Actual Behaviour**
On selecting PSLab MIC option before the In-Built MIC option, no popup stating if a PSLab device is not connected, when selecting In-Build MIC no activity can be seen on the monitor.

**Expected Behaviour**
The PSLab MIC option should be unable when then PSLab device is not connected.

**Screenshots of the issue**
![Screenshot_20210120-125534_PSLab](https://user-images.githubu

[2021-01-20 12:00] KushMehta1511 commented on #2172
@asaikarthikeya Thanks for the response. There are a few things which I could make out by analysing the code.
The activity of creating and maintaining the logs is being done in DataLoggerActivity.java and each data log is being stored in RealmReasults<SensorDataBlock> categoryData variable.
![image](https://user-images.githubusercontent.com/65716045/105170451-f4ebdf00-5b42-11eb-9d7d-b3dbab25cc98.p

[2021-01-21 08:46] asaikarthikeya opened #2175 "Connect USB by clicking on done in keyboard"
**Actual Behaviour**

Currently when user needs to connect his USB he needs to press Connect, It would  be better to have quick access to connect button from the keyboard itself.

<img src="https://user-images.githubusercontent.com/70392921/105325522-b6adf880-5bf2-11eb-8c1b-9223a1ea6662.jpg" width="300" height="500"/>

**Expected Behaviour**

Done button on Gboard which triggers connect usb button

[2021-01-21 13:02] asaikarthikeya opened #2176 "Keyboard hiding the snackbar output in USB Connection."
**Actual Behaviour**

When the user enters the IP Address of ESP module the error message is hidden behind the keyboard .User is able to see the snackbar output only if we press back button to remove keyboard

**Expected Behaviour**

The error message should be visible to the user.

**Steps to reproduce it**

The edittext that is used to enter the IP address is replaced by materialdesign TextInput

[2021-01-22 17:37] arpoch commented on #2173
If have applied the changes, and the code is working fine. So should I know make a PR, can any please guide me through the procedure as it's my first PR.

![Screenshot_20210122-225917_PSLab](https://user-images.githubusercontent.com/60058139/105525065-90797d00-5d06-11eb-8d8f-a1ea8867c9f4.jpg)

[2021-01-22 17:51] asaikarthikeya commented on #2173
Good , create a branch and push the changes to that branch. latter make  pull request to development branch .

[2021-01-22 18:07] asaikarthikeya commented on #2173
Good. Create a new branch and push the changes to that branch. Later make pull request to development branch .

[2021-01-23 03:07] KushMehta1511 commented on #2172
@CodeWithSouma Could you please guide me through this issue?

[2021-01-23 04:23] KushMehta1511 opened #2179 "Repititive Appearance of toast message in Dust Sensor"
**Actual Behaviour**

In the dust sensor, the toast message showing "Not Connected" keeps on flashing and never disappears.

**Expected Behaviour**

The toast message should disappear after its stipulated duration.

**Steps to reproduce it**

Without connecting the device open the dust sensor. You will see the toast message repetitively flashing.

**Screenrecording of the issue**

https://user-ima

[2021-01-23 11:14] asaikarthikeya opened #2181 ""Generate Config Files" layout is not uniform."
**Actual Behaviour**

The spacing between the instrument and time interval is varing for different instrument.

**Expected Behaviour**

All the instruments should have a similar layout style.

**Screenshots of the issue**

<img src="https://user-images.githubusercontent.com/70392921/105576602-ef3c0680-5d99-11eb-8c43-9e42b0e7dc51.png" width="300" height="500"/> <img src="https://user-images.githubu

[2021-01-23 17:58] CodeWithSouma commented on #2179
@KushMehta1511

**I don't find this type of issue on my device**

![Dust sensor error](https://user-images.githubusercontent.com/38830139/105609931-802ed400-5dd2-11eb-97b2-a0679b73153d.gif)

[2021-01-24 00:07] KushMehta1511 commented on #2179
@CodeWithSouma ooh that's quite strange.  I have Redmi Note 5 pro with android version 8.1.0. Is it due to this that the behaviour is varying?

[2021-01-24 00:18] KushMehta1511 opened #2184 ""Delete All Data" button doing nothing after all logs are deleted."
**Actual Behaviour**

After individual deletion of the logs the "Delete All Data" menu item still shows a Dialog Box to delete a log and then doesn't print anything.

**Expected Behaviour**

The "Delete All Data" items menu should toast a message "Nothing To Delete" when there is no data to delete.

**Steps to reproduce it**

Go to any device. Create a data log and open the logged data activity. D

[2021-01-24 05:12] asaikarthikeya commented on #2179
@KushMehta1511 Work fine with me too. I am not able to reproduce this issue .

[2021-01-24 05:29] KushMehta1511 commented on #2179
Ok, then I suppose there is some error from my side. Thanks, @CodeWithSouma @asaikarthikeya for the reviews. I will close this issue in that case.

[2021-01-24 05:29] #2179 closed

[2021-01-25 12:55] KushMehta1511 commented on #2176
@asaikarthikeya I am not facing this issue on my device. Did you check using the emulator as well?

[2021-01-26 02:06] KushMehta1511 opened #2186 "App crashes when searching for bluetooth devices"
**Actual Behaviour**

While scanning for Bluetooth devices the app crashes.

**Expected Behaviour**

There should not be any crash.

**Steps to reproduce it**

Click on the USB icon on the main page. Select the Bluetooth option and start the scan. After a while, no devices would be found and the app crashes.

**Screenshots of the issue**

https://user-images.githubusercontent.com/65716045/10578983

[2021-01-26 12:27] asaikarthikeya commented on #2176
@KushMehta1511 Checked in 2 real device , Found this issue in both.

[2021-01-26 14:59] CodeWithSouma commented on #2186
I don't find any type of crash issue on click the Bluetooth button ---> scan button.

[2021-01-26 17:51] asaikarthikeya commented on #2186
Me too, Didn't find this issue.Works as expected .

[2021-01-27 09:42] kartikeysaran commented on #2186
Hi @KushMehta1511 , Works as expected can you please share your log while the crash occurs

[2021-01-27 11:19] KushMehta1511 commented on #2186
OK Thank You everyone for confirming. I will close the issue in that case.

[2021-01-27 11:19] #2186 closed

[2021-01-27 16:45] kartikeysaran commented on #2162
Can I work on this issue ?

[2021-01-27 16:50] kartikeysaran commented on #2068
Should I work on making a compass widget that will be of great use ?

[2021-01-29 11:41] kartikeysaran commented on #2068
Started working on Developing a Widget for Logged Data

[2021-02-01 12:36] asaikarthikeya opened #2188 "Time interval units are not shown to the user."
**Actual Behaviour**

Time interval units are not known to the user when generating a config file.

**Expected Behaviour**

User should be able to know what time interval is selected.

**Screenshots of the issue**

<img src="https://user-images.githubusercontent.com/70392921/106459762-5b182080-64b8-11eb-8553-bf87b88ef94f.png" width="250" height="400"/>

**Would you like to work on the issue?**

Ye

[2021-02-02 00:34] rohittrimalle commented on #2188
Can I work on this issue ?

[2021-02-02 02:24] asaikarthikeya commented on #2188
Sorry.I started working on this. Please find another issue. Thankyou

[2021-02-03 03:54] asaikarthikeya opened #2189 "Add icon for developers in About us."
**Actual Behaviour**

Currently in about us section there is no icon for Developers and "Connect with us" heading can be made better.

**Expected Behaviour**

Add a developers icon  and improve the visibility/appearance  of "Connect with us " text .

**Screenshots of the issue**

<img src="https://user-images.githubusercontent.com/70392921/106695864-83f7fd00-6601-11eb-97d6-07f52e49cb29.png" width=

[2021-02-04 04:39] Prashant830 opened #2190 "At navigation drawer, The menu option of help & Report a Bug is missing .."
**Actual Behaviour**
At navigation drawer, The menu option of help & Report a Bug is missing ..

**Expected Behaviour**
After creating the report a bug & help option, navigation drawer, if any user sees any issue or bug in app, then that user will click on this option and then he will come to the issue option of github repository of app so that he can create his new issue .

**Steps to reproduce i

[2021-02-05 06:54] Prashant830 commented on #2176
Can I solve this problem ??

[2021-02-05 07:47] asaikarthikeya commented on #2176
@Prashant830 PR is yet to be reviewed.

[2021-02-05 16:46] asaikarthikeya commented on #2176
There is a PR already attach. Kindly wait till it gets reviewed.

[2021-02-06 02:04] Prashant830 commented on #2176
Ok

[2021-02-08 07:06] CadencePrestissimo commented on #2189
Can I do this ?

[2021-02-08 16:00] PrajwalG22 commented on #2101
Hey I have just started with open source contribution.
Can you help me working on this issue.

[2021-02-10 09:54] nsharmahack3r commented on #2188
https://github.com/fossasia/pslab-android/pull/2192

Issue solved

[2021-03-11 10:35] kartikeysaran commented on #2099
Can i take up this issue

[2021-03-17 17:14] Abhinavtdk opened #2198 "Bug in Rate App from navigation"
**Actual Behaviour**

When you go to Rate App from the navigation drawer, and go back, the faq fragment opens instead of what ever was before.

**Expected Behaviour**

On clicking Rate App, and on going back from this, the app should open whatever fragment or activity was open before clicking on Rate App

**Steps to reproduce it**

1. Click on Rate App from the navigation drawer.
2. Go back.

**Lo

[2021-03-18 08:02] Abhinavtdk opened #2200 "Minor improvement in faq ui"
**Actual Behaviour**

The scroll bar overlaps with the questions in faq fragment while scrolling

**Expected Behaviour**

There should be a small gap between the scroll bar and questions in faq fragment

**Steps to reproduce it**

1.Go to faq from navigation drawer
2.Scroll

**LogCat for the issue**

**Screenshots of the issue**

https://user-images.githubusercontent.com/52701183/111592071-4f75848

[2021-03-19 19:08] CodeWithSouma opened #2204 "The same bluetooth device is shown multiple time in listview"
**The same Bluetooth device is shown multiple time in listview when we click scan and then stop then rescan Please check the gif**

![Bluetooth error](https://user-images.githubusercontent.com/38830139/111830505-10d9ea00-8914-11eb-8237-2c6801b8c993.gif)

[2021-03-20 13:34] Abhinavtdk opened #2206 "getDrawable() is deprecated and needs to be replaced"
**Actual Behaviour**

getDrawable( int ) is deprecated and is used in many places in the project

**Expected Behaviour**

getDrawable() needs to be replaced, we can use ResourcesCompat.getDrawable()

**Would you like to work on the issue?**

Yes

[2021-03-26 11:28] Glock123 commented on #2206
Is this issue closed?

[2021-03-26 15:35] Abhinavtdk commented on #2206
I made a pr #2207 , it has to be approved

[2021-03-29 20:51] kartikaysharma01 commented on #1974
@dwlsalmeida Hi mate ... can I take over this issue ?

[2021-03-29 20:56] dwlsalmeida commented on #1974
Go ahead!

[2021-03-30 05:15] raghavpartani commented on #2204
I want to work on this issue.

[2021-03-30 05:16] raghavpartani commented on #2172
I want to work on this issue.

[2021-03-30 16:59] CodeWithSouma commented on #2204
Hey, I already made a PR please go through another issue.

[2021-04-01 07:49] #2164 closed

[2021-04-01 08:07] #2175 closed

[2021-04-01 08:39] #2189 closed

[2021-04-01 09:32] kartikaysharma01 opened #2208 "Config Layout makeover"
**Actual Behaviour**
Introduce card views for each option in Generate Config file layout.  Try slider for logging interval.
Any other inputs for layout change are welcome.

**Would you like to work on the issue?**
Yes

[2021-04-01 09:36] kartikaysharma01 opened #2209 "Offer choice of Google Maps or OpenStreetMap"
**Actual Behaviour**
For Playstore users, we can provide an option to use Google Maps or OpenStreetMap in App settings

**Would you like to work on the issue?**
Yes

[2021-04-01 09:36] kartikaysharma01 commented on #2209
@CloudyPadmal Should i go ahead with the implementation ?

[2021-04-01 16:54] #2157 closed

[2021-04-01 19:11] CloudyPadmal commented on #2209
Yes please go ahead.

[2021-04-01 21:00] kartikaysharma01 commented on #2209
@CloudyPadmal What should be the default map for playstore users?
Should we keep OpenStreetMap as default and give a small one-time-warning before switching to Google Maps that it is a proprietary API.

[2021-04-03 15:11] #2204 closed

[2021-04-03 15:12] #2200 closed

[2021-04-03 15:12] #2184 closed

[2021-04-07 12:12] LvZW1895 opened #2211 "Find a crash"
APK Version : 2.0.20
AndroidOS Version: 7.1.2
Description information：
This crash happened by accident when I was testing in different devices. I tried to reproduce them and found that they can't be reproduced, but they are real. I hope they can help you to debug.

crash:
 CRASH: io.pslab (pid 15648) (dump time: 2021-03-22 15:05:08
 Version: 2.0.20Version:
 Long Msg: java.lang.NullPointerException

[2021-04-07 13:00] Abhinavtdk commented on #2211
I'll try working on this

[2021-05-03 05:49] faisalkhandholpur commented on #2211
I can handle this issue

[2021-05-04 16:11] AnishaSingh0118 commented on #2181
hey, I am Anisha, I would like to work on this issue if it is still open.

[2021-05-04 16:15] AnishaSingh0118 commented on #2099
may i work on this issue?

[2021-05-04 16:33] kartikeysaran commented on #2099
Sure @AnishaSingh0118 go ahead !

[2021-05-04 17:31] AnishaSingh0118 commented on #2099
Thanks 😊

[2021-05-11 16:19] kartikeysaran commented on #2209
I am working on this

[2021-05-11 16:44] kartikeysaran opened #2213 "Sound plays even after exiting the Wave Generator Activity"
**Actual Behaviour**

The Sound should stop playing

**Expected Behaviour**

The Sound continues to play in the background

**Steps to reproduce it**

1. In Instruments Open Wave Generator
2. Select Wave 1 and then Select Freq
3. Increase the Frequency from the scale at the bottom
4. Waves are generated now go back
5. The Sound Still Plays

**Would you like to work on the issue?**

I have a soluti

[2021-05-12 11:47] kartikeysaran commented on #2211
I am not able to reproduce this as i can see it can be either due to the visibility of the webview or the visibility of progress bar but both are initialized if you are able to reproduce this please ping me. Thanks !

[2021-05-12 11:59] kartikeysaran commented on #2188
This needs a complete layout change i am working on this

[2021-05-23 10:34] kartikaysharma01 commented on #2181
Hi anisha. This issue has a few open PRs which will potentially close it. You can look into some other issue. Thanks.

[2021-05-23 11:15] kartikaysharma01 commented on #2188
@CloudyPadmal  can we close and move this issue to #2208 to reduce confusion as a whole layout change has been decided

[2021-05-23 11:15] kartikaysharma01 commented on #2181
@CloudyPadmal can we close and move this issue to #2208 to reduce confusion as a whole layout change has been decided

[2021-05-23 11:19] kartikaysharma01 commented on #2208
Reference: https://github.com/fossasia/pslab-android/pull/2182#issuecomment-811735532

[2021-05-23 11:49] kartikaysharma01 commented on #2209
I am occupied in another project as of now. If somebody wants to pick up this issue you are most welcome.

[2021-05-30 11:48] AnishaSingh0118 commented on #2181
Oh ok :)

[2021-05-31 07:17] Prashant830 opened #2217 "Bug in connect device activity."
**Actual Behaviour**

Bug in connect device activity.

**Expected Behaviour**

When i click <b>`What is psLab device ? textView`</b> and at the same time i press backspace button then the fragment of pslab device overloaded at the connect device activity due to this the ui of the connect device activity is mismatching form (It Ui looks not batter ).

**Steps to reproduce it**
When i click <b>`What

[2021-05-31 07:22] Prashant830 commented on #2217
@mariobehling , @CodeWithSouma please review it..

[2021-05-31 09:35] unnati914 opened #2218 "Adding contributers list with their github ids to give them a shoutout"
**Would you like to work on the issue?**

I want to add a seperate file of contributors list and maintainers list

[2021-05-31 11:37] CloudyPadmal commented on #2217
Thanks for reporting the issue. If you can fix it, please go ahead.

[2021-05-31 11:41] CloudyPadmal commented on #2218
There is a shout out at every release page.

[2021-05-31 11:41] #2218 closed

[2021-05-31 22:44] Prashant830 commented on #2217
@CloudyPadmal ok..

[2021-06-02 06:34] Prashant830 commented on #2217
@CloudyPadmal , @CodeWithSouma   [ please review  solution  in sample videos](https://drive.google.com/drive/folders/1wE6W-_STez0wA_st5AGYEAttWbUMf2iI?usp=sharing)

[2021-06-02 10:59] CloudyPadmal commented on #2217
Looks good. Can you file a pull request with the modifications?

[2021-06-04 07:42] #2172 closed

[2021-06-04 07:45] #2198 closed

[2021-06-04 07:50] #2045 closed

[2021-06-04 07:50] #2056 closed

[2021-06-04 07:52] #2208 closed

[2021-06-04 07:52] #2181 closed

[2021-06-04 07:56] #2213 closed

[2021-06-04 11:40] kartikeysaran commented on #1625
Should i work on this ? @CloudyPadmal @mariobehling

[2021-06-04 20:48] CloudyPadmal commented on #1625
Hello @kartikeysaran , without a device it would be challenging. But you can give it a try. 👍🏼

[2021-06-05 05:03] kartikeysaran commented on #1625
Sure ! :)

[2021-07-06 05:56] Linlinllll opened #2219 "Threat of cash with NoClassDefFoundError on some devices"
Dear pslab developers,

I have found out that when I touch any point on the UI screen shown bellow, the app will crash with `NoClassDefFoundError`. After I check the log file, I found the method is `android/text/Html.fromHtml(Ljava/lang/String;I)Landroid/text/Spanned;`. This method is introduced at API level 24, but the `minSDKVeriosn` is set to 23. When I install the app into devices with API lev

[2021-08-02 08:52] Aditya8840 commented on #2206
is this open ?

[2021-08-02 10:13] kartikaysharma01 commented on #2206
Hi @Aditya8840, This issue is not a priority right now. Please have a look at some other issues. You can refer to the prior discussion [here](https://github.com/fossasia/pslab-android/pull/2207#issuecomment-811760004). Thanks.

[2021-09-14 15:00] mariobehling opened #2222 "Configure dependabot yaml"
The dependabot yaml is only a test file. Please add all necessary configs.

Find all details here https://docs.github.com/github/administering-a-repository/keeping-your-dependencies-updated-automatically

[2021-09-20 19:13] Low012 commented on #2186
I can reproduce the issue. My devices is a Fairphone 2 with LineageOS 18.1 (Android 11). Bluetooth is switched on, but no device is connected to the phone.

`2021-09-20 21:07:36.098 1500-1500/io.pslab E/AndroidRuntime: FATAL EXCEPTION: main
    Process: io.pslab, PID: 1500
    java.lang.NullPointerException: Attempt to invoke virtual method 'java.lang.String java.lang.Object.toString()' on a null

[2021-09-20 19:36] Low012 commented on #2186
I found the problem: Android calls `toString()` on `null` when a Bluetooth device has no name. I will fix the issue and open a pull request.

[2021-09-21 20:09] Low012 commented on #2211
I managed to trigger a crash in the same class:

The crash does not happen in exactly the same location as the crash reported by @LvZW1895, but it happens just a few lines away. `webview`should also be not `null` here, but under certain conditions it is.

I was able to trigger the crash on my tablet (Lenovo Yoga Smart Tab, Android 10):
1. open app
2. choose "connect device' in the menu on the left

[2021-09-22 20:38] #2211 closed

[2021-10-02 16:47] MohitGupta121 commented on #2222
Hii,
We have to need all the dependency updated or ignore some of them, so that they are compatible with our project???

[2021-10-02 21:56] mariobehling opened #2226 "Substitute Travis CI with Github Actions and Circle CI"
Travis CI was used to build test apps automatically. We also used Travis CI for tests. As Travis no longer supports Open Source please use Github Actions and Circle CI instead.

[2021-10-04 19:09] CloudyPadmal commented on #2226
We have already moved from travis to GitHub actions..

[2021-10-04 19:14] CloudyPadmal commented on #2226
There are some breadcrumbs from travis in the project. Reopened to fix those.

[2021-10-04 20:36] CloudyPadmal opened #2227 "GitHub actions script failing to upload artifacts"
**Actual Behaviour**

Once a PR is submitted, GA should successfully upload build artifacts i.e. apk files

**Expected Behaviour**

It's failing to find the correct paths and files

**Steps to reproduce it**

Check recent PR build logs

**LogCat for the issue**

[code]

**Screenshots of the issue**

**Would you like to work on the issue?**

Yes. The issue is two-fold. V1 version is buggy and apk p

[2021-10-04 20:53] #2227 closed

[2021-10-04 21:03] #2226 closed

[2021-10-04 21:04] #2222 closed

[2021-10-04 21:28] CloudyPadmal opened #2235 "Codacy badge is out of sync"
**Actual Behaviour**

Codacy badge should show the quality of code

**Expected Behaviour**

Current badge is linked to a fork and it's no longer exists. Need to link FOSSASIA repo directly.

**Steps to reproduce it**

Check out Readme

**LogCat for the issue**

N/A

**Screenshots of the issue**

N/A

**Would you like to work on the issue?**

Yes.

[2021-10-04 21:31] CloudyPadmal opened #2237 "Replace travis badge with GitHub actions badge"
**Actual Behaviour**

Current readme has travis CI badge

**Expected Behaviour**

Replace it with GitHub actions badge

**Steps to reproduce it**

N/A

**LogCat for the issue**

N/A

**Screenshots of the issue**

N/A

**Would you like to work on the issue?**

Yes

[2021-10-04 21:44] #2235 closed

[2021-10-04 21:44] #2237 closed

[2021-10-04 21:46] CloudyPadmal opened #2238 "Android X compatibility"
**Actual Behaviour**

Few dependencies filed with dependabot is failing due to Android-x incompatibility

**Expected Behaviour**

App needs to be upgraded to support Android-X

**Steps to reproduce it**

Check #2234

**LogCat for the issue**

[code]

**Screenshots of the issue**

N/A

**Would you like to work on the issue?**

Yes

[2021-10-04 23:41] #2238 closed

[2021-10-06 08:20] CloudyPadmal opened #2240 "Dependabot throw error on upgrading open street maps"
**Actual Behaviour**

We need to use the latest version of open street maps

**Expected Behaviour**

Dependabot throws an error as if we upgrade open maps, it will crash the app

**Steps to reproduce it**

Check PR #2233

**LogCat for the issue**

[code]
**Screenshots of the issue**

N/A

**Would you like to work on the issue?**

Yes

[2021-10-06 12:29] CloudyPadmal opened #2242 "Upgrade layout files with android-x compatible tags"
**Actual Behaviour**

Most of the `.xml` files have outdated syntax

**Expected Behaviour**

Need to replace them with android-x tags. _Note: This is a task involving lot of files and code. So feel free to contribute as much as you can._

**Steps to reproduce it**

Open app and check error log

**LogCat for the issue**

[code]

**Screenshots of the issue**

N/A

**Would you like to work on the iss

[2021-10-06 12:30] #2240 closed

[2021-10-08 02:42] SiddyDevelops commented on #2242
Is this issue still open for contributors? If yes, can you please assign it to me ?  Thank you.

[2021-10-09 13:48] MohitGupta121 commented on #2242
@CloudyPadmal  hello I also started working on that issue

[2021-10-09 16:02] MohitGupta121 commented on #2242
@CloudyPadmal can you please review my PR as I'll change some of the files to androidx according to issue.

[2021-10-09 20:28] CloudyPadmal commented on #2242
Hello @deepanshu112 , great to hear that! You're welcome to send us a PR.

[2021-10-10 10:53] mariobehling opened #2245 "Create auto builds of APKs using Github Actions"
Until a few months ago Travis supported us and we used it for continuous integration and creating auto-builds of APKs in the apk branch. Please update the project to use Github Actions instead of Travis CI to create these auto builds in https://github.com/fossasia/pslab-android/tree/apk.

[2021-10-10 12:48] MohitGupta121 commented on #2245
Okay I'm ready to work on that issue @mariobehling can you please assign that issue.

[2021-10-10 14:36] MohitGupta121 commented on #2245
@mariobehling  I have make initial PR for this issue so that I can step by step work on that issue.
I need guide to work on this issue can you please Review my this PR and tell me what more things required in this PR so that I can add that also.

[2021-10-13 16:09] CloudyPadmal commented on #2245
It's not solved to say. But the APKs are available as artefacts. We might still need to implement this feature

[2021-10-15 06:06] CloudyPadmal opened #2255 "Multimeter view doesn't open up"
**Actual Behaviour**

Opening Multimeter instrument crashes the app

**Expected Behaviour**

App should not crash

**Steps to reproduce it**

Open Multimeter

**LogCat for the issue**

[code]
**Screenshots of the issue**

N/A

**Would you like to work on the issue?**

N/A

[2021-10-15 06:08] CloudyPadmal opened #2256 "Oscilloscope does not open up"
**Actual Behaviour**

Opening oscilloscope crashes the app

**Expected Behaviour**

App should not crash

**Steps to reproduce it**

Open oscilloscope

**LogCat for the issue**

[code]

**Screenshots of the issue**

N/A

**Would you like to work on the issue?**

N/A

[2021-10-15 06:09] CloudyPadmal opened #2257 "Logic Analyzer does not open up"
**Actual Behaviour**

Opening Logic Analyzer crashes the app

**Expected Behaviour**

App should not crash

**Steps to reproduce it**

Open Logic Analyzer

**LogCat for the issue**

[code]

**Screenshots of the issue**

N/A

**Would you like to work on the issue?**

N/A

[2021-10-15 07:00] CloudyPadmal opened #2258 "Wavegenerator does not open up"
**Actual Behaviour**

Opening wave generator instrument crashes the app

**Expected Behaviour**

App should not crash

**Steps to reproduce it**

Open wave generator

**LogCat for the issue**

[code]

**Screenshots of the issue**

N/A

**Would you like to work on the issue?**

N/A

[2021-10-15 14:26] sakshampruthi commented on #2206
Great, I'd like to work on this issue

[2021-10-15 16:16] MohitGupta121 commented on #2255
@CloudyPadmal  this bug caused by  <include layout="@layout/bottom_sheet_custom" /> this line in every activity that crashes.

What to change in that.?

[2021-10-16 13:46] CloudyPadmal commented on #2255
Then the problem is at bottom_sheet_custom

[2021-10-20 19:42] developer-nobita opened #2267 "`About us` section just after launching app does not close navigation drawer and take longer time than usual"
**Actual Behaviour**

When we click on `About Us` section in navigation drawer first time after launching the app, then it takes a longer time than usual and navigation drawer is in open state.

https://user-images.githubusercontent.com/51999411/138159968-9eb0b909-24e4-4b5f-9458-a6a2a7d6719c.mp4

**Expected Behaviour**

When we click on `About Us` section in navigation drawer first time after laun

[2021-10-21 20:22] developer-nobita commented on #2267
I go through the code to fix this bug and found that it is occurring in development branch only when device is in dark mode. So I tried to comment the `simulateDayNight(0);` function call in `AboutUsFragment.java` and it worked.

I want to know why we are calling this function only in `AboutUs` fragment?

[2021-10-23 08:30] Wishy-S opened #2268 "crash: Wavegenerator_freq_button_problem"
**Actual Behaviour**
App is crashing while clicking `freq` button in the Wavegenerator.

**Expected Behaviour**

App should not crash.

**Steps to reproduce it**

Just go to `Wavegenerator` part and try pressing `freq` button .

**LogCat for the issue**

[code]

**Screenshots of the issue**

https://user-images.githubusercontent.com/54708414/138548846-47713eb5-3ce9-4b44-b4c0-7d406c193228.mp4

**Wo

[2021-10-28 10:33] BishyanKar opened #2271 "Crash on closing Wave Generator"
**Actual Behaviour**

On going back from WaveGenerator screen the app crashes.

**Expected Behaviour**

App shouldn't crash

**Steps to reproduce it**

- Open WaveGenerator screen -> Go Back
- Open WaveGenerator screen -> Click Produce Sound -> Click Stop Sound -> Go Back

**LogCat for the issue**

E/AndroidRuntime: FATAL EXCEPTION: main
    Process: io.pslab, PID: 27425
    java.lang.NullPointerE

[2021-10-28 13:36] #2268 closed, assigned to nobody

[2021-10-28 20:44] Wishy-S opened #2274 "pressing back arrow in wavegen activity makes app crash"
**Actual Behaviour**

pressing back arrow in `WaveGeneratorActivity.java` makes the app crash.

**Expected Behaviour**
App should not crash and back button should work properly.

**Steps to reproduce it**
Go to the Wavegenerator and press the back arrow from the app bar

**LogCat for the issue**

[code]

**Screenshots of the issue**

https://user-images.githubusercontent.com/54708414/139332671-f5b

[2021-10-29 08:25] #2274 closed, assigned to nobody

[2021-11-06 05:28] suman-somu opened #2279 "App crash on opening ROBOTIC ARM"
**Actual Behaviour**

Opening ROBOTIC ARM crashes the app

**Expected Behaviour**

App shouldn't crash

**Steps to reproduce it**

Open ROBOTIC ARM

**LogCat for the issue**

11-06 10:53:15.958  6197  6197 E AndroidRuntime: FATAL EXCEPTION: main
11-06 10:53:15.958  6197  6197 E AndroidRuntime: Process: io.pslab, PID: 6197
11-06 10:53:15.958  6197  6197 E AndroidRuntime: java.lang.RuntimeException:

[2021-11-06 10:18] #2279 closed

[2021-11-06 10:19] suman-somu commented on #2279
the log file is not good to read